<ng-container [ngSwitch]="tabpart">
  <div *ngSwitchCase="'tab11'" class="container  bghead fix-height">
    <div class="d-flex common-wrapper bg-1857">
      <div class="w-50">
        <img src="../../assets/part4img/Rectangle1087.png" class="ancimg" alt="img" />
      </div>
      <div class="w-50 text-bg-1920 text-white">
        <p>
          {{'Part4.LEG' | translate}}
        </p>
      </div>
    </div>

  </div>

  <div *ngSwitchCase="'tab12'" class="container  bghead fix-height">
    <div class="row">
      <div class="col-md-4">
        <div class="header">
          <img src="../../assets/part4img/Rectangle1087F.png" class="ancimg" alt="img" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="para text-white">
          {{'Part4.UPPER' | translate}}
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab13'" class="container  bghead fix-height">
    <div class="text-white">
      {{'Part4.THE' | translate}}
      <div style="float:right;width:100%">
        <div class="row">
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_1.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG1' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_2.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG2' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_3.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG3' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_4.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG4' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_5.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG5' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_6.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG6' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_7.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG7' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_8.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG8' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_9.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG9' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_10.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG10' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_11.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG11' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Rectangle1094_12.png" class="img-fluid">
            <div class="text-center">{{'Part4.IMG12' | translate}}</div>
          </div>
          <div class="col-2 md-12 mb-2 pe-0">
            <img src="../../assets/part4img/Kuwar.png" class="img-fluid">
            <div class="text-center">{{ 'Part4.IMG13' | translate}}</div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div *ngSwitchCase="'tab14'" class="container  bghead fix-height">

    <div class="text-white">
      <div style="float:left;width:55%">
        <div class="row">
          <div class="col-md-6 mb-2">
            <img src="../../assets/part4img/dev-1.png" class="img-fluid mb-2">
            <img src="../../assets/part4img/dev-2.png" class="img-fluid">
          </div>
          <div class="col-md-6 ps-0 pe-4">
            <img src="../../assets/part4img/dev-3.png" class="img-fluid">
          </div>
        </div>
      </div>News of the Meerut mutiny spread like wild fire. Individual mutiny’s erupted with the reception of
      the
      news in the neighbouring areas. Even though this rebellion was limited to the northern region with modern
      day Uttar Pradesh at its heart, the siege extended its blood well into the next year. The Lucknow
      Residency had two relief attempts by the British before they could rescue their survivors. Kanpur and
      neighbouring areas were similarly entrenched in the developments of the ongoing rebellion. 
      Historians say the savagery with which the Company retaliated had never been seen before, especially in
      India. The blood shed, lives lost and the atrocities the year of the rebellion saw were manganimously
      high. The news reached Britain, albeit with altered narratives, and shocked many a people.
    </div>
  </div>

  <div *ngSwitchCase="'tab15'" class="container  bghead fix-height">

    <div class="row text-white">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 mb-2">
            <img src="../../assets/part4img/history-1.png" class="img-fluid mb-2">
            <img src="../../assets/part4img/history-2.png" class="img-fluid">
          </div>
          <div class="col-md-6">
            <img src="../../assets/part4img/history-3.png" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        Historians say the savagery with which the Company retaliated had never been seen before, especially in
        India. The blood shed, lives lost and the atrocities the year of the rebellion saw were manganimously
        high. The news reached Britain, albeit with altered narratives, and shocked many a people.  <br>

        It was after this rebellion that the British Crown assumed direct control over the British held Indian
        territories, on the 1st of November 1858. With this move, The East India Company ceased to be a
        sovereign power over India, ending the era of India being ruled by a trading organisation.
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab16'" class="container  bghead fix-height">

    <div class="row text-white align-items-center">
      <div class="col-md-4">
        <div>
          <img src="../../assets/part4img/tribhuvannarayansingh-1.png" class="w-100">
        </div>
        <br>
        <div>
          <img src="../../assets/part4img/tribhuvannarayansingh-2.png" class="w-100">
        </div>
      </div>

      <div class="col-md-8">
        <p [innerHTML]="'Part4.P1' | translate"></p>

        <p>
          {{'Part4.P2' | translate}}
        <p>
        <p>
          {{'Part4.P3' | translate}}
        <p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab17'" class="container  bghead fix-height">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="first" name="tab" (click)="tabchange('first')" style="cursor: pointer;">1st Assembly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="second" name="tab" (click)="tabchange('second')" style="cursor: pointer;">2nd Assembly</a>
      </li>
    </ul>

    <div class="row text-white pt-4" *ngIf="id === 'first'">
      <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/Aatmaram_1094.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.ATMA' | translate}}</p>
            </div>
        </div>
    </div>

      <div class="col-md-4 text-white mt-3">
        <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
            [innerHTML]="'Part4.1ST' | translate">
           
        </span>
    </div>

      <div class="col-md-4">
        <div class="row text-white">
            <h5 class="">{{'Part4.LEADER' | translate}}</h5>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Lokbandu.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.LOK' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/Genda.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.GENDA' | translate}}</small>
          </div>
        </div>
        <div class="row  text-white mt-3">
            <div class="col-md-12">
                <h5 class="text-center">{{'Part4.CM' | translate}}</h5>
            </div>
            <div class="col-md-6">
                <div class=" common-wrapper bg-1857 ">
                    <div class="w-97">
                        <img src="../../assets/part4img/Pant.png" class="ancimg" alt="Ram Naresh
                        Yadav" />

                    </div>
                </div>
                <small>{{'Part4.PANT' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/samp.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.SAM' | translate}}</small>
          </div>
        </div>
    </div>
    </div>

    <div class="row text-white pt-4" *ngIf="id === 'second'">
      <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/Aatmaram_1094.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.ATMA' | translate}}</p>
            </div>
        </div>
    </div>

      <div class="col-md-4 text-white mt-3">
        <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
            [innerHTML]="'Part4.2ND' | translate">
          
        </span>
    </div>
      <div class="col-md-4">
        <div class="row text-white">
            <h5 class="">{{'Part4.LEADER' | translate}}</h5>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Trilok.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.TRI' | translate}}</small>
            </div>
           
        </div>
        <div class="row  text-white mt-3">
            <div class="col-md-12">
                <h5 class="text-center">{{'Part4.CM' | translate}}</h5>
            </div>
            <div class="col-md-6">
                <div class=" common-wrapper bg-1857 ">
                    <div class="w-97">
                        <img src="../../assets/part4img/samp.png" class="ancimg" alt="Ram Naresh
                        Yadav" />

                    </div>
                </div>
                <small>{{'Part4.SAM1' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/GUPTA.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.GUPTA1' | translate}}</small>
          </div>
        </div>
    </div>

    </div>
</div>

  <div *ngSwitchCase="'tab18'" class="container  bghead fix-height">

    <div class="w-80 align-items-center">
      <!-- <img src="../../assets/VideoIMage.png" _ngcontent-mqy-c16  class="ancimg  p-1 common-wrapper  bg-1857" alt="img" /> -->
      <video src="../../assets/WIN_20230120_02_27_42_Pro.mp4" controls _ngcontent-mqy-c16
        class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
    </div>
  </div>

  <div *ngSwitchCase="'tab45'" class="container  bghead fix-height">

    <div class="w-80 align-items-center">
      <!-- <img src="../../assets/VideoIMage.png" _ngcontent-mqy-c16  class="ancimg  p-1 common-wrapper  bg-1857" alt="img" /> -->
      <video src="../../assets/WIN_20230120_02_27_42_Pro.mp4" controls _ngcontent-mqy-c16
        class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
    </div>
  </div>

  <div *ngSwitchCase="'tab27'" class="container  bghead fix-height">

    <div class="w-80 align-items-center">
      <!-- <img src="../../assets/VideoIMage.png" _ngcontent-mqy-c16  class="ancimg  p-1 common-wrapper  bg-1857" alt="img" /> -->
      <video src="../../assets/WIN_20230120_02_27_42_Pro.mp4" controls _ngcontent-mqy-c16
        class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
    </div>
  </div>

  <div *ngSwitchCase="'tab19'" class="container  bghead fix-height">

    <div class="row text-white">
      <div class="col-md-6">
        <img src="../../assets/part4img/Frame50.png" class="w-100">
      </div>
      <div class="col-md-6">
        <span class="d-block mb-3" [innerHTML]="'Part4.OFF' | translate"></span>
        <span class="d-block mb-3" [innerHTML]="'Part4.OFF2' | translate"></span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab55'" class="container  bghead fix-height">

    <div class="row text-white">
      <div class="col-md-4">
        <!-- <div class="row">
          <div class="col-md-2">
            <img src="../../assets/part4img/68L.png" class="w-100">
          </div>
          <div class="col-md-2">
            <img src="../../assets/part4img/68R.png" class="w-100">
          </div>
        </div> -->
        <div class="row"><img src="../../assets/part4img/Women.png" class="w-100"></div>

      </div>
      <div class="col-md-8">
        <span class="d-block mb-3" [innerHTML]="'Part4.UP' | translate"></span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab20'" class="container  bghead fix-height">

    <div class="row text-white">
      <div class="col-md-4">
        <img src="../../assets/part4img/council-act.png" class="w-100">
      </div>
      <div class="col-md-8">
        <span class="d-block">It was clear that the Act of 1892 was a mere appeasement strategy by the British
          as it did not institute any real changes. With the growing dissatisfaction in this time period – given
          Lord Curzon’s despotic and oppressive policies, nationwide calamities like the famine and plague owing
          to the British administration, and the humiliation of Indians in South Africa – the Indians did not
          hold back in expressing their disquiet.</span>
        <span class="d-block my-2">The British then called upon the Morley-Minto Reforms which were embodied by
          the Indian Councils Act of 1909. The Act instituted changes in some of the functions and rights of the
          council, the number of members that would form the council, and the provisions for
          electorates. </span>
        <span class="d-block">The member count was now at 50, with the members being allowed to ask
          supplementary questions should they not be satisfied with the answer provided. The members now not
          only had a right to discuss the budget but also move resolutions on it. Separate electorates for
          Muslims were provided.</span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab21'" class="container  bghead fix-height">

    <!-- <div class="d-flex text-white">
      <div class="w-45">
        <img src="../../assets/part4img/1915-1.png" class="w-100">
      </div>
      <div class="w-55 ps-4">
        <span class="d-block mb-2">In 1915, a consolidating statute known as the Government of India was passed
          in 1915. It replaced nearly all earlier enactments dealing with the Indian Constitution. Any further
          meetings of the Council were held under this Act.</span>
        <img src="../../assets/part4img/1915-2.png" class="w-100">
      </div>
    </div> -->
    <div class="row text-white align-items-center">
      <div class="col-md-4">
        <div>
          <img src="../../assets/part4img/Women.png" class="w-100">
        </div>
      </div>

      <div class="col-md-8">
        <p [innerHTML]="'Part4.P4' | translate"></p>

        <p>
          {{'Part4.P5' | translate}}
        <p>
        <p>
          {{'Part4.P6' | translate}}
        <p>
      </div>
    </div>

  </div>

  <div *ngSwitchCase="'tab22'" class="container  bghead fix-height">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id1="third" (click)="tabchange2('third')" style="cursor: pointer;">3rd Assembly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id1="fourth" (click)="tabchange2('fourth')" style="cursor: pointer;">4th Assembly</a>
      </li>
    </ul>



    <div class="row text-white pt-4" *ngIf="id1 === 'fourth'">
     <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/Agarwal.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.JAG' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-white mt-3">
        <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
            [innerHTML]="'Part4.4TH' | translate">
        </span>
    </div>
    <div class="col-md-4">
        <div class="row text-white">
            <h5 class="">{{'Part4.LEADER' | translate}}</h5>

            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/ChandraBasuGupta.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.GUPTA2' | translate}}</small>
          </div>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Vikal.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.RAM' | translate}}</small>
            </div>
           
        </div>
        <div class="row  text-white mt-3">
            <div class="col-md-12">
                <h5 class="text-center">{{'Part4.CM' | translate}}</h5>
            </div>
            <div class="col-md-6">
                <div class=" common-wrapper bg-1857 ">
                    <div class="w-97">
                        <img src="../../assets/part4img/ChandraBasuGupta.png" class="ancimg" alt="Ram Naresh
                        Yadav" />

                    </div>
                </div>
                <small>{{'Part4.GUPTA2' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/CharanSingh.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.CS' | translate}}</small>
          </div>
        </div>
    </div>
</div>

    <div class="row text-white pt-4" *ngIf="id1 === 'third'">
    <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/Madv.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.MADAN' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-white mt-3">
        <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
            [innerHTML]="'Part4.3RD' | translate">
          
        </span>
    </div>
    <div class="col-md-4">
        <div class="row text-white">
            <h5 class="">{{'Part5.LEADER' | translate}}</h5>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Dubey.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.DUB' | translate}}</small>
            </div>
 
        </div>
        <div class="row  text-white mt-3">
            <div class="col-md-12">
                <h5 class="text-center">{{'Part4.CM' | translate}}</h5>
            </div>
            <div class="col-md-6">
                <div class=" common-wrapper bg-1857 ">
                    <div class="w-97">
                        <img src="../../assets/part4img/ChandraBasuGupta.png" class="ancimg" alt="Ram Naresh
                        Yadav" />

                    </div>
                </div>
                <small>{{'Part4.GUPTA2' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/Krip.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.KRIP' | translate}}</small>
          </div>
        </div>
    </div>
    </div>

  </div>

  <div *ngSwitchCase="'tab25'" class="container  bghead fix-height">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id2="five" (click)="tabchange3('five')" style="cursor: pointer;">5th Assembly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id2="six" (click)="tabchange3('six')" style="cursor: pointer;">6th Assembly</a>
      </li>
    </ul>


    <div class="row text-white pt-4" *ngIf="id2 === 'five'">
     
     <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/govind5.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.KHER' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 text-white mt-3">
          <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
              [innerHTML]="'Part4.5TH' | translate">
              
          </span>
      </div>
      <div class="col-md-6">
        <div class="row text-white">
            <h5 class="">{{'Part5.LEADER' | translate}}</h5>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Chaudary.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.DARY' | translate}}</small>
            </div>
            
        </div>
       
    </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-12">
          <div style="float:right;width:100%">
            <div class="row">
              <div class="col-2 md-12 mb-2 pe-0">
                <img src="../../assets/part4img/GUPTA.png" class="img-fluid">
                <div class="text-center">{{'Part4.GUPTA2' | translate}}</div>
              </div>
              <div class="col-2 md-12 mb-2 pe-0">
                <img src="../../assets/part4img/Chaudary.png" class="img-fluid">
                <div class="text-center">{{'Part4.DARY' | translate}}</div>
              </div>
              <div class="col-2 md-12 mb-2 pe-0">
                <img src="../../assets/part4img/Tri.png" class="img-fluid">
                <div class="text-center">{{'Part4.TRI1' | translate}}</div>
              </div>
              <div class="col-2 md-12 mb-2 pe-0">
                <img src="../../assets/part4img/Kamlapati.png" class="img-fluid">
                <div class="text-center">{{'Part4.KAMLA' | translate}}</div>
              </div>
              <div class="col-2 md-12 mb-2 pe-0">
                <img src="../../assets/part4img/Nandan.png" class="img-fluid">
                <div class="text-center">{{'Part4.NANDAN' | translate}}</div>
              </div>



            </div>
          </div>
        </div>
      </div>
   </div>
    </div>


    <div class="row text-white pt-4 " *ngIf="id2 === 'six'">
         <div class="col-md-4">
        <div class="row mg-rw">
            <div class="col-md-12 text-center">
                <strong class="text-center">{{'Part4.SPEAKER' | translate}}</strong>
                <div class="">
                    <div class="w-97">
                        <img src="../../assets/part4img/Vasu.png" class="ancimg" alt="Kesari Nath
                        Tripathi
                        " />
                    </div>
                </div>
                <p>{{'Part4.VASU' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-white mt-3">
        <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
            [innerHTML]="'Part4.6TH' | translate">
        </span>
    </div>
    <div class="col-md-4">
        <div class="row text-white">
            <h5 class="">{{'Part5.LEADER' | translate}}</h5>
            <div class="col-md-6 ">
                <div class="w-97">
                    <img src="../../assets/part4img/Satya.png" class="ancimg" alt="Mohd. Azam
                          Khan" />
                </div>
                <small>{{'Part4.SATYA' | translate}}</small>
            </div>
        </div>
        <div class="row  text-white mt-3">
            <div class="col-md-12">
                <h5 class="text-center">{{'Part4.CM' | translate}}</h5>
            </div>
            <div class="col-md-6">
                <div class=" common-wrapper bg-1857 ">
                    <div class="w-97">
                        <img src="../../assets/part4img/Nandan.png" class="ancimg" alt="Ram Naresh
                        Yadav" />

                    </div>
                </div>
                <small>{{'Part4.NANDAN1' | translate}}</small>
            </div>
            <div class="col-md-6">
              <div class=" common-wrapper bg-1857 ">
                  <div class="w-97">
                      <img src="../../assets/part4img/Dutt.png" class="ancimg" alt="Ram Naresh
                      Yadav" />

                  </div>
              </div>
              <small>{{'Part4.DUTT' | translate}}</small>
          </div>
        </div>
    </div>



    </div>

  </div>

  <div *ngSwitchCase="'tab26'" class="container bghead fix-height">

    <div class="row text-white">
      <div class="col-md-4">
        <!-- <div class="row">
          <div class="col-md-2">
            <img src="../../assets/part4img/68L.png" class="w-100">
          </div>
          <div class="col-md-2">
            <img src="../../assets/part4img/68R.png" class="w-100">
          </div>
        </div> -->
        <div class="row"><img src="../../assets/part4img/Frame72.png" class="w-100"></div>

      </div>
      <div class="col-md-8">
        <span class="d-block mb-3" [innerHTML]="'Part4.ETH' | translate"></span>
      </div>
    </div>

  </div>

  <div *ngSwitchCase="'tab23'" class="container  bghead fix-height">

    <!-- <div class="row text-white align-items-center">
      <div class="col-md-4">
        <img src="../../assets/part4img/constitution.png" class="w-100">
      </div>
      <div class="col-md-8">
        <span class="d-block mb-2">The Government of India Act was another milestone in our legislative history
          as it
          replaced nearly all the earlier enactments with regard to the Indian Constitution.</span>
        <img src="../../assets/part4img/constitution-2.png" class="w-70">
      </div>
    </div> -->

    <div class="row text-white align-items-center">
      <div class="col-md-4">
        <div>
          <img src="../../assets/part4img/Frmae98.png" class="w-100">
        </div>
        <br>
        <div>
          <img src="../../assets/part4img/Frame98.1.png" class="w-100">
        </div>
      </div>

      <div class="col-md-8">
        <p [innerHTML]="'Part4.P10' | translate"></p>

        <p [innerHTML]="'Part4.P11' | translate">
        <p>
        <p [innerHTML]="'Part4.P12' | translate">

        <p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab24'" class="container  bghead fix-height">

    <div class="header">
      <img src="../../assets/part4img/Frame37.png" class="ancimg" alt="img" />
    </div>
  </div>

</ng-container>

<div
  class="row bgceneter four-rays {{main_options_left ? 'left-rays' : submenu_revolt ? 'left-rays' : submenu_face_ww1 ? 'right-rays' : submenu_indian_council ? 'left-rays' : submenu_gov_act ? 'right-rays' : main_options_right ? 'right-rays' : ''}}" (click)="showalltabs()">
  <div class="col-md-12">
    <div class="text-center" style="cursor: pointer" (click)="showaob()">
      <img src="../../assets/part4img/Part4o.png" class="ovalbtn" alt="img" />
      <div class="rays" *ngIf="isshow && showtabsall">
        <img src="../../assets/part4img/rays.png">
        <img src="../../assets/part4img/rays.png">
        <img src="../../assets/part4img/rays.png">
        <img src="../../assets/part4img/rays.png">
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isshow" class="container  bghead fix-height ">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-md-12 p-2">
          <img src="../../assets/part4img/1st republic day.jpg" class="ancimg" alt="img" />
        </div>

      </div>

    </div>

  </div>
</div>

<div *ngIf="isshow" class="container  bghead fix-height ">
  <div class="row h-100 align-items-center">
    <div *ngIf="!main_options_left && !submenu_gov_act && !submenu_face_ww1" class="col-md-6 mb-3">
      <div class="d-flex align-items-center justify-content-center {{submenu_revolt ? 'ms-5 ' : ''}}">
        <div *ngIf="!revolt" class="p-2 {{!submenu_revolt ? 'mb-5 pb-5' : ''}}">
          <div class="text-center">
            <button type="button" class="customBtn {{!submenu_revolt ? 'mb-5' : 'rightSide'}} " type="button"
              (click)="showContentpart()">
              {{ 'Part4.VPBTN' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="!indian_council" class="p-2 {{main_options_left}}">
          <div class="text-center">
            <button type="button" class="customBtn {{!submenu_indian_council ? '' : 'rightSide'}}"
              (click)="showContentpart1()">
              {{ 'Part4.FSBTN' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="submenu_face_ww1" class="col-md-6">
      <div class="d-flex flex-column mb-3 left-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab22')">
              {{'Part4.EMEMBTN' | translate}}
            </button>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab45')">
              {{'Part4.LANDBTN' | translate}}
            </button>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab55')">
              {{'Part4.HEADBTN' | translate}}
            </button>
          </div>

        </div>



      </div>
    </div>
    <div *ngIf="submenu_gov_act" class="col-md-6">
      <div class="d-flex flex-column mb-3 left-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab25')">
              {{'Part4.EMEMBTN' | translate}}
            </button>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab27')">
              {{'Part4.LANDBTN' | translate}}
            </button>
          </div>
        </div>

        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab26')">
              {{'Part4.HEADBTN' | translate}}
            </button>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="!main_options_right" class="col-md-6 mb-3">
      <div class="d-flex align-items-center {{main_options_right || submenu_gov_act || submenu_face_ww1? 'ms-5' : ''}}">
        <div *ngIf="!face_ww1" class="p-2 ">
          <div class="text-center">
            <button type="button" class="customBtn {{submenu_face_ww1 ? 'leftSide' : ''}}" type="button"
              (click)="showContentpart2()">
              {{ 'Part4.TFBTN' | translate}}
            </button>
          </div>
        </div>
        <div *ngIf="!gov_act" class="p-2  {{!submenu_gov_act ? 'mb-5 pb-5' : ''}}">
          <div class="text-center">
            <button type="button" class="customBtn {{!submenu_gov_act ? 'mb-5 ' : 'leftSide'}}"
              (click)="showContentpart3()">
              {{ 'Part4.FSABTN' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="submenu_revolt" class="col-md-6">
      <div class="d-flex flex-column mb-3 right-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab13')">
              {{'Part4.EMEMBTN' | translate}}
            </button>
          </div>
        </div>

      </div>
    </div>





    <div *ngIf="submenu_indian_council" class="col-md-6">
      <div class="d-flex flex-column mb-3 right-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab17')">
              {{'Part4.EMEMBTN' | translate}}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTabpart('tab18')">
              {{'Part4.LANDBTN' | translate}}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTabpart('tab19')">
              {{'Part4.HEADBTN' | translate}}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>