<ng-container [ngSwitch]="tab">

    <div *ngSwitchCase="'tab1'" class="container bghead fix-height">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="row align-items-start">
                    <div class="col-md-6 pe-0">
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (2).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (4).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2 ">
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (3).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (5).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white">

                <p>
                    In January 1980, Congress returned to power with a majority in the next Lok Sabha elections. They
                    decided to dissolve the assemblies of the states that were led by the Janata Party or coalitions.
                    The Seventh Assembly of the Vidhan Sabha was hence yet again dissolved prematurely, and Presidential
                    rule was instated.
                </p>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab2'" class="container bghead fix-height">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="row mg-rw">
                    <div class="col-md-12 mb-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1.png" class="ancimg"
                                alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1 (1).png" class="ancimg"
                                alt="img" />
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-6 text-white">


                Assembly Tenure for Seventh and Eight Assembly<br>
                <br>
                7th Assembly<br>
                23rd June 1977 – 17th February<br>
                Seats: 425<br>
                Government formed by Janata Party with 352 seats<br>
                <br>
                8th Assembly<br>
                9th June 1980 – 10th March 1985<br>
                Seats:425<br>
                Government formed by INC with 309 seats<br>

            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab3'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center text-white">
                        <h4 class="text-center">Speaker</h4>
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d1.png" class="ancimg"
                                    alt="Shri Jagannath Prasad" />
                            </div>

                        </div>
                        <small class="d-block">Shri Jagannath Prasad</small>
                    </div>
                    <div class="col-md-12 text-white mt-2">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1095.png" class="ancimg"
                                    alt="Babu Banarasi Das" />
                            </div>
                        </div>
                    </div>
                    <small class="d-block">Babu Banarasi Das</small>


                </div>
            </div>

            <div class="col-md-6 text-white">

                <span>
                    7th Assembly
                    A Coalition government was formed that was led by the Janata Dal
                    Leader of the House
                    Shri Ram Naresh Yadav (Janata Dal)
                    Succeeded by then Speaker Shri Banarsi Das (Janata Dal)
                    Speaker of the House
                    Shri Banarsi Das (Janata Party)
                    Succeeded by Deputy Speaker Shri Jagannath Prasad (Independent)
                    Leader of Oposition
                    Shri Narayan Dutt Tiwari (INC)
                    Succeeded by Shri Raj Mangal Pandey

                </span>


            </div>

            <div class="col-md-4 ps-0">
                <div class="row mg-rw text-white text-center">
                    <h4 class="text-center">Leader of Opposition </h4>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1082.png" class="ancimg" alt="Shri Raj Mangal
                                  Pandey" />

                            </div>
                        </div>
                        <small class="d-block">Shri Raj Mangal
                            Pandey</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1094 (2).png" class="ancimg"
                                    alt="N.D. Tiwari" />
                            </div>
                        </div>
                        <small class="d-block">N.D. Tiwari</small>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-white">
                        <h4 class="text-center">CM of Seventh Assembly</h4>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1094 (1).png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small class="d-block">Ram Naresh
                            Yadav</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d1.png" class="ancimg" alt="Babu Banarsi
                                Das" />

                            </div>
                        </div>
                        <small class="d-block">Babu Banarsi
                            Das</small>
                    </div>


                </div>





            </div>


        </div>

    </div>

    <div *ngSwitchCase="'tab4'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d2.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab5'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-4">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d3.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d4.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white">

                <span>
                    Shri Babu Banarsi Das was elected Speaker of the Seventh Assembly. In 1979, however, he resigned
                    from his post to become the leader of the Janata Party and the allied parties at the time. He then
                    went on to become the Chief Minister of Uttar Pradesh within the tenure of the same assembly. Shri
                    Jagannath Prasad, who was the then Deputy Speaker elected as an independent candidate, succeeded
                    Shri Banarsi Das as the Speaker of the House. This was the first time the Speaker of the House took
                    up the position of the Chief Minister of the State.<br>
                    <br>
                    In January 1980, Congress returned to power with a majority in the next Lok Sabha elections. They
                    decided to dissolve the assemblies of the states that were led by the Janata Party or coalitions.
                    The Seventh Assembly of the Vidhan Sabha was hence yet again dissolved prematurely, and Presidential
                    rule was instated.<br>

                    <br> After the dissolution of the Seventh Assembly, elections were held
                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab6'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-8 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d5.png" class="ancimg" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-4 text-white">

                        <p>
                            9th Assembly
                            10th March 1985 – 29th November 1989
                            Seats: 425
                            Government formed by INC with 269 seats

                            10th Assembly
                            2nd December 1989 – 4th April 1991
                            Seats: 425
                            Government led by Janata Dal with 208 seats
                        </p>


                    </div>



                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab7'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">Speaker</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d6.png" class="ancimg" alt="SN.D. Tiwari" />
                            </div>
                        </div>
                        <p>N.D. Tiwari</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white">
                <span class="d-block p-2 border-light border-1">
                    10th Assembly<br>
                    Leader of the House<br>
                    Shri Mulayam Singh Yadav (Janata Dal)<br>
                    Speaker of the House<br>
                    Shri Hari Kishan (Jaata Dal)<br>
                    Leader of Opposition<br>
                    Shri Narayan Dutt Tiwari (INC)
                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h4 class="">Leader of Opposition </h4>
                    <div class="col-md-12 ">
                        <div class="common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d7.png" class="ancimg" alt="Harikishan
                                  Srivastav" />
                            </div>
                        </div>
                        <small>Harikishan
                            Srivastava</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h4 class="text-center">CM of Tenth Assembly</h4>
                    </div>
                    <div class="col-md-12">
                        <div class=" common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d8.png" class="ancimg" alt="Ram Naresh
                                    Yadav" />

                            </div>
                        </div>
                        <small>Mulayam Singh
                            Yadav</small>

                    </div>



                </div>





            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab8'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d9.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab9'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="row ">
                    <div class="col-md-12 mb-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangled-11.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d10.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white">

                <span>
                    An important undertaking of the Ninth Legislative Assembly was the ‘Uttar Pradesh Legislative
                    Assembly Members (Disqualification on the Ground of Defection) Rules, 1987’ which was laid on the
                    table of the House on September 01, 1986. On June 26, 1987, certain amendments were accepted by the
                    Speaker's Bench. These rules came into force in a modified form from June 28, 1987.

                    The Tenth Assembly had the second shortest tenure after the Fourth Assembly. The Chief Minister
                    Mulayam Singh went on to become the Defence Minister of the Country in 1996
                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab10'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d12.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p>
                    11th Assembly
                    22nd June 1991 – 6th December 1992
                    Seats: 425 seats
                    Government formed by Bharatiya Janata Party with 269 seats

                    12th Assembly
                    4th December 1993 – 27th October 1995
                    Seats: 425 seats
                    Government initially formed by SP and BSP
                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab11'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">Speaker</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d13.png" class="ancimg" alt="Dhaniram
                                Verma" />

                            </div>
                        </div>
                        <p>Dhaniram
                            Verma</p>
                        <div class="common-wrapper mt-3 bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d14.png" class="ancimg" alt="Barkhu Ram
                                Verma" />


                            </div>
                        </div>
                        <p>Barkhu Ram
                            Verma</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;">
                    12th Assembly<br>
                    Leader of the House<br>
                    Shri Mulayam Singh Yadav<br>
                    Succeeded by Sushree Mayawati<br>
                    Speaker of the House<br>
                    Shri Dhaniram Verma<br>
                    Succeeded by Barkhu Ram Verma<br>
                    Leader of Opposition<br>
                    Shri Kalyan Singh
                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h4 class="">Leader of Opposition </h4>
                    <div class="col-md-12 ">
                        <div class="common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d15.png" class="ancimg" alt="Shri Raj Mangal
                                Pandey" />

                            </div>
                        </div>
                        <small>Kalyan Singh</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h4 class="text-center">CM of Tenth Assembly</h4>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d8.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>Mayawati</small>

                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>Mulayam Singh
                            Yadav</small>

                    </div>


                </div>





            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab12'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d18.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab13'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="row mg-rw">
                    <div class="col-md-8">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d19.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ps-0">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-20.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-21.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 text-white">
                <span>
                    The President’s rule was instated on the night of December 6, 1992, and the Eleventh Assembly was
                    dissolved owing to the Babri Masjid demolition.<br><br>

                    24th August 1994 – The then Minister of Parliamentary Affairs presented a resolution to establish
                    Uttarakhand as a separate state. The resolution was passed on the very same day.<br><br>

                    The Twelfth Vidhan Sabha witnessed Sushree Mayawati become the second woman to hold the office of
                    the Chief Minister of the State. She was also the first woman from an underprivileged background to
                    do so.
                </span>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab14'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">Speaker</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d23.png" class="ancimg" alt="Kesari Nath
                                Tripathi
                                " />
                            </div>
                        </div>
                        <p>Kesari Nath
                            Tripathi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;">
                    14th Assembly<br>
                    Leader of the House<br>
                    Km. Mayawati<br>
                    Succeeded by Shri Mulayam Singh<br>
                    Speaker of the House<br>
                    Shri Keshari Nath Tripathi<br>
                    Leader of Opposition<br>
                    Shri Mohammed Azam Khan (SP)<br>
                    Succeeded by Shri Lalji Tandon (BJP)<br>
                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h5 class="">Leader of Opposition </h5>
                    <div class="col-md-6 ">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d24.png" class="ancimg" alt="Mohd. Azam
                                  Khan" />
                            </div>
                        </div>
                        <small>Mohd. Azam Khan</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d25.png" class="ancimg" alt="Lalji
                                Tandon " />
                            </div>
                        </div>
                        <small>Lalji
                            Tandon</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h5 class="text-center">CM of Seventh Assembly</h5>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>Mayawati</small>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>Mulayam Singh
                            Yadav</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="'tab15'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p>
                    11th Assembly
                    22nd June 1991 – 6th December 1992
                    Seats: 425 seats
                    Government formed by Bharatiya Janata Party with 269 seats

                    12th Assembly
                    4th December 1993 – 27th October 1995
                    Seats: 425 seats
                    Government initially formed by SP and BSP
                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab16'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d26.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab17'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-5">
                <div class="row mg-rw">
                    <div class="col-md-7 pe-0">
                        <div class="w-97">
                            <img src="../../assets/part5img/head1.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="w-97">
                            <img src="../../assets/part5img/head2.png" class="ancimg" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="w-97">
                            <img src="../../assets/part5img/head3.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-7 text-white" style="max-height:500px;overflow-y: auto;">

                <span>
                    In a first-of-its-kind move, the Bharatiya Janata Party and the Bahujan Samaj Party decided to form
                    a government with mutual support headed by either party for six months each. With this move, Sushree
                    Mayawati became the leader of the house on March 21st, 1997 for the onset of the Thirteenth Vidhan
                    Sabha. This Vidhan Sabha also witnessed the reorganisation of Uttar Pradesh to form the state of
                    Uttaranchal – now Uttarakhand.<br>

                    The Uttar Pradesh Legislature has gradually evolved over time since its inception. Through the years
                    its structure has been reconstituted keeping in line with the events at the time. The formation of
                    Uttarakhand was one such event, which yet again instituted such a change in the Vidhan Sabha as well
                    as the Vidhan Parishad. The Vidhan Sabha strength was set at 403 (plus one nominated Anglo-Indian
                    Member) and the Vidhan Parishad was now a 100 members strong. Hence, for the Fourteenth Assembly
                    elections, 403 seats were contested
                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab18'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p>
                    15th Assembly
                    13th May 2007 – 9th March 2012
                    Seats: 403 (+1 Anglo Indian Nomination)
                    Government formed by Bahujan Samaj Party

                    16th Assembly
                    8th March 2012 – 13th March 2017
                    Seats: 403 (+1 Anglo Indian Nomination)
                    Government formed by Samajwadi Party
                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab19'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">Speaker</strong>
                        <div class="">
                            <div class="w-97">
                                <img src="../../assets/part5img/sukhdev.png" class="ancimg" alt="Kesari Nath
                                Tripathi
                                " />
                            </div>
                        </div>
                        <p>Sukhdev
                            Rajbar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;">
                    15th Assembly<br>
                    Leader of the House<br>
                    Km. Mayawati<br>
                    Speaker of the House<br>
                    Sukhdev Rajbhar<br>
                    Leader of Opposition<br>
                    Shri Mulayam Singh Yadav<br>
                    Succeeded by Shri Shivpal Singh
                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h5 class="">Leader of Opposition </h5>
                    <div class="col-md-6 ">
                        <div class="w-97">
                            <img src="../../assets/part5img/shivpal.png" class="ancimg" alt="Mohd. Azam
                                  Khan" />
                        </div>
                        <small>Shivpal Singh
                            Yadav</small>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>Mulayam Singh
                            Yadav</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h5 class="text-center">CM of Fifteenth Assembly</h5>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>Mayawati</small>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="'tab20'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d34.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab21'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="row mg-rw">
                    <div class="col-md-6 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d35.png" class="img-fluid" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-6 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d36.png" class="img-fluid" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12 mt-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d37.png" class="img-fluid" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white" style="max-height:500px;overflow-y: auto;">

                <span>
                    Sushree Mayawati was elected Leader of the House in the Fifteenth Vidhan Sabha and was the first
                    leader in the history of Uttar Pradesh who served their full term.<br>

                    Shri Akhilesh Yadav was elected as the leader of the House in the Sixteenth Assembly making him the
                    youngest member to hold the office in UP’s history. During this Assembly’s tenure, the VSOPP was
                    developed through which the members of the House could ask questions and have their queries
                    addressed online. The Uttarshati celebrations to celebrate the Silver Jubilee of the Uttar Pradesh
                    Legislature were also convened in this time period, where the members of the first UP Assembly were
                    honoured. This event was graced by Shri Pranab Mukherjee who kindly addressed both Houses of the UP
                    Legislature and released a postage stamp with the likeness of the UP Vidhan Bhavan. UP Vidhan Bhavan
                    is the only legislature building in the country to
                </span>


            </div>


        </div>

    </div>












</ng-container>

<div class="row">
    <div class="col-md-12">
        <div class="text-center bgceneter five-rays {{visible31 || visible11 ? 'left-rays' : visible41 || visible51 || visible21 ? 'right-rays' : ''}}"
            (click)="showalltabs()">
            <img src="../../assets/part5img/oval.png" class="ovalbtn" alt="img" />
            <div class="rays" *ngIf="showtabsall">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
            </div>
        </div>
    </div>
</div>
<div class="fix-height footimg">

    <ng-container *ngIf="showtabsall">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 " *ngIf="!visible1">
                <div class="ps-5 ms-5">
                    <button type="button" class="ms-5 customBtn" (click)="showContent1()">
                        Seventh & Eight Assembly
                    </button>
                </div>


            </div>
            <div *ngIf="visible21" class="col-md-6">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab19')">
                                Eminent Members
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab20')">
                                Landmark Legislations
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab21')">
                                Headliners
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="!visible2">
                <div class="text-center ms-5 ps-5">
                    <button type="button" class="customBtn ms-5" (click)="showContent2()">
                        Fifteenth &
                        Sixteenth Assembly
                    </button>
                </div>

            </div>
            <div class="col-md-6" *ngIf="visible11">
                <div class="d-flex flex-column right-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab3')">
                                Eminent Members aa
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab4')">
                                Landmark Legislations
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab5')">
                                Headliners
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible51">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab13')">
                                Headliners
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab11')">
                                Eminent Members
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab12')">
                                Landmark Legislations
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="!visible3">
                <div class="text-center  ps-5">
                    <button type="button" class="customBtn ms-5" (click)="showContent3()">
                        Nine & Tenth Assembly
                    </button>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible41">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab15')">
                                Eminent Members
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab16')">
                                Landmark Legislations
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab17')">
                                Headliners
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 float-right" *ngIf="!visible4">
                <div class="text-center">
                    <button type="button" class="customBtn ms-5" (click)="showContent4()">
                        Thirteenth & Fourteenth Assembly
                    </button>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible31">
                <div class="d-flex flex-column right-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab7')">
                                Eminent Members
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab8')">
                                Landmark Legislations
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab9')">
                                Headliners
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="{{visible51 ? 'col-md-6' : 'col-md-12 '}}">
                <div *ngIf="!visible5" class="text-center ms-3">
                    <button type="button" class="customBtn" (click)="showContent5()">
                        Eleventh & Twelfth Assembly
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!showtabsall">

        <div class="container">
            <div class="row h-100 justify-content-center mt-3 align-items-center">

                <div class="col-md-7  ">
                    <div class="common-wrapper">
                        <div>
                            <img src="../../assets/part5img/Rectangle 1087.png" class="ancimg" alt="img" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3 pe-0 ps-0">
                    <div class="common-wrapper">
                        <div>
                            <img src="../../assets/part5img/Rectangle 1087 (1).png" class="ancimg" alt="img" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-container>





</div>