<div class="frontcontainer">
    <div class="col-md-12">
      <div class="row main">
        <div class="col-md-6">
          <ng-container [ngSwitch]="tab">
           
            <div *ngSwitchCase="'tab1'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                      <div class="row mg-rw">
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (2).png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (3).png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (4).png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (5).png" class="ancimg" alt="img" />
                              </div>

                        </div>

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                In January 1980, Congress returned to power with a majority in the next Lok Sabha elections. They decided to dissolve the assemblies of the states that were led by the Janata Party or coalitions. The Seventh Assembly of the Vidhan Sabha was hence yet again dissolved prematurely, and Presidential rule was instated.
                            </p>
                        

                    </div>
                    

                </div>
               
            </div> 
            <div *ngSwitchCase="'tab2'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1 (1).png" class="ancimg" alt="img" />
                            </div>

                        </div>
                        

                    </div>
                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                Assembly Tenure for Seventh and Eight Assembly

                                7th Assembly
                                23rd June 1977 – 17th February 
                                Seats: 425
                                Government formed by Janata Party with 352 seats
                                
                                8th Assembly 
                                9th June 1980 – 10th March 1985
                                Seats:425
                                Government formed by INC with 309 seats
                            </p>
                        

                    </div>
                    

                </div>
            
            </div>
            <div *ngSwitchCase="'tab3'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-2">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <strong class="text-center">Speaker</strong>
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1099.png" class="ancimg" alt="Shri Jagannath Prasad" />
                                <p>Shri Jagannath Prasad</p>
                              </div>

                        </div>
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1095.png" class="ancimg" alt="Babu Banarasi Das" />
                                <p>Babu Banarasi Das</p>
                              </div>

                        </div>
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                7th Assembly
                                A Coalition government was formed that was led by the Janata Dal
                                Leader of the House 
                                Shri Ram Naresh Yadav (Janata Dal)
                                Succeeded by then Speaker Shri Banarsi Das (Janata Dal)
                                Speaker of the House
                                Shri Banarsi Das (Janata Party)
                                Succeeded by Deputy Speaker Shri Jagannath Prasad (Independent)
                                Leader of Oposition
                                Shri Narayan Dutt Tiwari (INC)
                                Succeeded by Shri Raj Mangal Pandey
                                
                            </p>
                        

                    </div>

                    <div class="col-md-4">
                        <div class="row mg-rw">
                            <strong class="text-center">Leader of Opposition </strong>
                          <div class="col-md-6 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle 1082.png" class="ancimg" alt="Shri Raj Mangal
                                  Pandey" />
                                  <p>Shri Raj Mangal
                                    Pandey</p>
                                </div>
  
                          </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle 1094 (2).png" class="ancimg" alt="N.D. Tiwari" />
                                  <p>N.D. Tiwari</p>
                                </div>
  
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 common-wrapper bg-1857">
                                <strong class="text-center">CM of Seventh Assembly</strong>
                            </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1094 (1).png" class="ancimg" alt="Ram Naresh
                                Yadav" />
                                <p>Ram Naresh
                                    Yadav</p>
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d1.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                                <p>Babu Banarsi
                                    Das</p>
                              </div>

                        </div>
                          
  
                        </div>
  
                        
  
                          
  
                      </div>
                    

                </div>
               
            </div>
                   
            <div *ngSwitchCase="'tab4'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d2.png" class="ancimg" alt="img" />
                            </div>

                        </div>
    
                        

                    </div>
                    </div>

                   
                    

                </div>
            
            </div>
            <div *ngSwitchCase="'tab5'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d3.png" class="ancimg" alt="img" />
                              </div>

                        </div>

                        <div class="col-md-12 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d4.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                Shri Babu Banarsi Das was elected Speaker of the Seventh Assembly. In 1979, however, he resigned from his post to become the leader of the Janata Party and the allied parties at the time. He then went on to become the Chief Minister of Uttar Pradesh within the tenure of the same assembly. Shri Jagannath Prasad, who was the then Deputy Speaker elected as an independent candidate, succeeded Shri Banarsi Das as the Speaker of the House. This was the first time the Speaker of the House took up the position of the Chief Minister of the State. 

                                In January 1980, Congress returned to power with a majority in the next Lok Sabha elections. They decided to dissolve the assemblies of the states that were led by the Janata Party or coalitions. The Seventh Assembly of the Vidhan Sabha was hence yet again dissolved prematurely, and Presidential rule was instated. 
                                
                                After the dissolution of the Seventh Assembly, elections were held 
                            </p>
                        

                    </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab6'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-8 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d5.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                        <div class="col-md-4 text-white">
                        
                            <p>
                                9th Assembly
                                10th March 1985 – 29th November 1989
                                Seats: 425
                                Government formed by INC with 269 seats
                                
                                10th Assembly
                                2nd December 1989 – 4th April 1991
                                Seats: 425
                                Government led by Janata Dal with 208 seats
                            </p>
                        

                    </div>
                       
                        

                    </div>
                    </div>

                
                    

                </div>
            
            </div>
            <div *ngSwitchCase="'tab7'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-2">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <strong class="text-center">Speaker</strong>
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d6.png" class="ancimg" alt="SN.D. Tiwari" />
                                <p>N.D. Tiwari</p>
                              </div>

                        </div>
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                10th Assembly
                                Leader of the House
                                Shri Mulayam Singh Yadav (Janata Dal)
                                Speaker of the House
                                Shri Hari Kishan (Jaata Dal)
                                Leader of Opposition
                                Shri Narayan Dutt Tiwari (INC)
                                
                            </p>
                        

                    </div>

                    <div class="col-md-4">
                        <div class="row mg-rw">
                            <strong class="text-center">Leader of Opposition </strong>
                          <div class="col-md-12 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle-d7.png" class="ancimg" alt="Harikishan
                                  Srivastav" />
                                  <p>SHarikishan
                                    Srivastava</p>
                                </div>
  
                          </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12 common-wrapper bg-1857">
                                <strong class="text-center">CM of Tenth Assembly</strong>
                            </div>
                          <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d8.png" class="ancimg" alt="Ram Naresh
                                Yadav" />
                                <p>Mulayam Singh
                                    Yadav</p>
                              </div>

                        </div>
                        
                          
  
                        </div>
  
                        
  
                          
  
                      </div>
                    

                </div>
               
            </div>    
            <div *ngSwitchCase="'tab8'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d9.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                      
                    </div>
                    </div>

                 
                    

                </div>
            
            </div>
            <div *ngSwitchCase="'tab9'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangled-11.png" class="ancimg" alt="img" />
                              </div>

                        </div>

                        <div class="col-md-12 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d10.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                An important undertaking of the Ninth Legislative Assembly was the ‘Uttar Pradesh Legislative Assembly Members (Disqualification on the Ground of Defection) Rules, 1987’ which was laid on the table of the House on September 01, 1986. On June 26, 1987, certain amendments were accepted by the Speaker's Bench. These rules came into force in a modified form from June 28, 1987.

                               The Tenth Assembly had the second shortest tenure after the Fourth Assembly. The Chief Minister Mulayam Singh went on to become the Defence Minister of the Country in 1996
                            </p>
                        

                    </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab10'" class="container bghead fix-height">
                <div class="row">
                  
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d12.png" class="ancimg" alt="img" />
                            </div>

                        </div>

                        <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                11th Assembly 
                                22nd June 1991 – 6th December 1992
                                Seats: 425 seats 
                                Government formed by Bharatiya Janata Party with 269 seats
                                
                                12th Assembly
                                4th December 1993 – 27th October 1995
                                Seats: 425 seats 
                                Government initially formed by SP and BSP
                            </p>
                        

                    </div>
                    
                </div>
            
            </div>
            <div *ngSwitchCase="'tab11'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-2">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <strong class="text-center">Speaker</strong>
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d13.png" class="ancimg" alt="Dhaniram
                                Verma" />
                                <p>Dhaniram
                                    Verma</p>
                              </div>

                        </div>
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d14.png" class="ancimg" alt="Barkhu Ram
                                Verma" />
                                <p>Barkhu Ram
                                    Verma</p>
                              </div>

                        </div>
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                12th Assembly
                                Leader of the House
                                Shri Mulayam Singh Yadav
                                Succeeded by Sushree Mayawati 
                                Speaker of the House
                                Shri Dhaniram Verma
                                Succeeded by Barkhu Ram Verma  
                                Leader of Opposition
                                Shri Kalyan Singh 
                                
                            </p>
                        

                    </div>

                    <div class="col-md-4">
                        <div class="row mg-rw">
                            <strong class="text-center">Leader of Opposition </strong>
                          <div class="col-md-6 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle-d15.png" class="ancimg" alt="Shri Raj Mangal
                                  Pandey" />
                                  <p>Kalyan Singh</p>
                                </div>
  
                          </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12 common-wrapper bg-1857">
                                <strong class="text-center">CM of Seventh Assembly</strong>
                            </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />
                                <p>Mayawati</p>
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                                <p>Mulayam Singh
                                    Yadav</p>
                              </div>

                        </div>
                          
  
                        </div>
  
                        
  
                          
  
                      </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab12'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d18.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                      
                    </div>
                    </div>

                 
                    

                </div>
            
            </div>       
            <div *ngSwitchCase="'tab13'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                    <div class="row mg-rw">
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d19.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-20.png" class="ancimg" alt="img" />
                            </div>

                        </div>

                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-21.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                        

                    </div>
                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                The President’s rule was instated on the night of December 6, 1992, and the Eleventh Assembly was dissolved owing to the Babri Masjid demolition. 

                                24th August 1994 – The then Minister of Parliamentary Affairs presented a resolution to establish Uttarakhand as a separate state. The resolution was passed on the very same day. 
                                
                                The Twelfth Vidhan Sabha witnessed Sushree Mayawati become the second woman to hold the office of the Chief Minister of the State. She was also the first woman from an underprivileged background to do so.
                            </p>
                        

                    </div>
                    

                </div>
            
            </div>
                 
            <div *ngSwitchCase="'tab14'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-2">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <strong class="text-center">Speaker</strong>
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d23.png" class="ancimg" alt="Kesari Nath
                                Tripathi
                                " />
                                <p>Kesari Nath
                                    Tripathi</p>
                              </div>

                        </div>
                       
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                14th Assembly
                                Leader of the House 
                                Km. Mayawati
                                Succeeded by Shri Mulayam Singh
                                Speaker of the House
                                Shri Keshari Nath Tripathi
                                Leader of Opposition
                                Shri Mohammed Azam Khan (SP)
                                Succeeded by Shri Lalji Tandon (BJP
                                
                            </p>
                        

                    </div>

                    <div class="col-md-4">
                        <div class="row mg-rw">
                            <strong class="text-center">Leader of Opposition </strong>
                          <div class="col-md-6 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle-d24.png" class="ancimg" alt="Mohd. Azam
                                  Khan"/>
                                  <p>Mohd. Azam
                                    Khan</p>
                                </div>
  
                          </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d25.png" class="ancimg" alt="Lalji
                                Tandon
                            \" />
                                <p>Lalji
                                    Tandon</p>
                              </div>

                        </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12 common-wrapper bg-1857">
                                <strong class="text-center">CM of Seventh Assembly</strong>
                            </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />
                                <p>Mayawati</p>
                              </div>

                        </div>
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                                <p>Mulayam Singh
                                    Yadav</p>
                              </div>

                        </div>
                          
  
                        </div>
  
                        
  
                          
  
                      </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab15'" class="container bghead fix-height">
                <div class="row">
                  
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                            </div>

                        </div>

                        <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                11th Assembly 
                                22nd June 1991 – 6th December 1992
                                Seats: 425 seats 
                                Government formed by Bharatiya Janata Party with 269 seats
                                
                                12th Assembly
                                4th December 1993 – 27th October 1995
                                Seats: 425 seats 
                                Government initially formed by SP and BSP
                            </p>
                        

                    </div>
                    
                </div>
            
            </div> 
            <div *ngSwitchCase="'tab16'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d26.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                      
                    </div>
                    </div>

                 
                    

                </div>
            
            </div>
            <div *ngSwitchCase="'tab17'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                      <div class="row mg-rw">
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/part5img/Rectangle-d27.png" class="ancimg" alt="img" />
                              </div>

                        </div>

                        <div class="col-md-6 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/part5img/Rectangle-d28.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        <div class="col-md-12 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/part5img/Rectangle-d29.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                In a first-of-its-kind move, the Bharatiya Janata Party and the Bahujan Samaj Party decided to form a government with mutual support headed by either party for six months each. With this move, Sushree Mayawati became the leader of the house on March 21st, 1997 for the onset of the Thirteenth Vidhan Sabha. This Vidhan Sabha also witnessed the reorganisation of Uttar Pradesh to form the state of Uttaranchal – now Uttarakhand. 

                               The Uttar Pradesh Legislature has gradually evolved over time since its inception. Through the years its structure has been reconstituted keeping in line with the events at the time. The formation of Uttarakhand was one such event, which yet again instituted such a change in the Vidhan Sabha as well as the Vidhan Parishad. The Vidhan Sabha strength was set at 403 (plus one nominated Anglo-Indian Member) and the Vidhan Parishad was now a 100 members strong. Hence, for the Fourteenth Assembly elections, 403 seats were contested 
                            </p>
                        

                    </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab18'" class="container bghead fix-height">
                <div class="row">
                  
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                            </div>

                        </div>

                        <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                15th Assembly
                                13th May 2007 – 9th March 2012
                                Seats: 403 (+1 Anglo Indian Nomination)
                                Government formed by Bahujan Samaj Party 

                                16th Assembly
                                8th March 2012 – 13th March 2017
                                Seats: 403 (+1 Anglo Indian Nomination)
                                Government formed by Samajwadi Party
                            </p>
                        

                    </div>
                    
                </div>
            
            </div> 
            <div *ngSwitchCase="'tab19'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-2">
                      <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <strong class="text-center">Speaker</strong>
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d30.png" class="ancimg" alt="Mata Prasad  Pandey " />
                                <p>Mata Prasad
                                    Pandey</p>
                              </div>

                        </div>
                       
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white">
                        
                            <p>
                                14th Assembly
                                Leader of the House 
                                Km. Mayawati
                                Succeeded by Shri Mulayam Singh
                                Speaker of the House
                                Shri Keshari Nath Tripathi
                                Leader of Opposition
                                Shri Mohammed Azam Khan (SP)
                                Succeeded by Shri Lalji Tandon (BJP
                                
                            </p>
                        

                    </div>

                    <div class="col-md-4">
                        <div class="row mg-rw">
                            <strong class="text-center">Leader of Opposition </strong>
                          <div class="col-md-6 common-wrapper bg-1857">
                              <div class="w-97">
                                  <img src="../../assets/part5img/Rectangle-d31.png" class="ancimg" alt="Dinkar
                                  "/>
                                  <p>Dinkar</p>
                                </div>
  
                          </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d32.png" class="ancimg" alt="Shri Swami
                                Prasad Maurya
                            \" />
                                <p>Shri Swami
                                    Prasad Maurya</p>
                              </div>

                        </div>
                         
                        </div>
                        <div class="row">
                            <div class="col-md-12 common-wrapper bg-1857">
                                <strong class="text-center">CM of Sixteenth Assembly</strong>
                            </div>
                          <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d33.png" class="ancimg" alt="Akhilesh Yadav
                                " />
                                <p>Akhilesh Yadav</p>
                              </div>

                        </div>
                        
                          
  
                        </div>
  
                        
  
                          
  
                      </div>
                    

                </div>
               
            </div>
            <div *ngSwitchCase="'tab20'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row mg-rw">
                        <div class="col-md-12 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d34.png" class="ancimg" alt="img" />
                            </div>

                        </div>
                      
                    </div>
                    </div>

                 
                    

                </div>
            
            </div>  
            <div *ngSwitchCase="'tab21'" class="container bghead fix-height">
                <div class="row">
                    <div class="col-md-6">
                      <div class="row mg-rw">
                        <div class="col-md-6 common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d35.png" class="ancimg" alt="img" />
                              </div>

                        </div>

                        <div class="col-md-6 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d36.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        <div class="col-md-12 common-wrapper bg-1857" >
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d37.png" class="ancimg" alt="img" />
                              </div>

                        </div>
                        
                        

                      </div>

                      

                        

                    </div>

                    <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">
                        
                            <p>
                                Sushree Mayawati was elected Leader of the House in the Fifteenth Vidhan Sabha and was the first leader in the history of Uttar Pradesh who served their full term. 

                                Shri Akhilesh Yadav was elected as the leader of the House in the Sixteenth Assembly making him the youngest member to hold the office in UP’s history. During this Assembly’s tenure, the VSOPP was developed through which the members of the House could ask questions and have their queries addressed online. The Uttarshati celebrations to celebrate the Silver Jubilee of the Uttar Pradesh Legislature were also convened in this time period, where the members of the first UP Assembly were honoured. This event was graced by Shri Pranab Mukherjee who kindly addressed both Houses of the UP Legislature and released a postage stamp with the likeness of the UP Vidhan Bhavan. UP Vidhan Bhavan is the only legislature building in the country to 
                            </p>
                        

                    </div>
                    

                </div>
               
            </div>





    



                
      

          </ng-container>
  
          <div class="row">
            <div class="col-md-12">
              <div class="text-center bgceneter two-rays {{visible ? 'left-rays' : visible1 ? 'right-rays' : ''}}" (click)="showalltabs()">
                <img src="../../assets/part5img/oval.png" class="ovalbtn" alt="img" />
                <div class="rays">
                  <img src="../../assets/part5img/rays.png">
                  <img src="../../assets/part5img/rays.png">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="fix-height footimg">
            <div class="row h-100 align-items-center">
              <ng-container *ngIf="showtabsall">

                  <div class="col-md-6 ">
                    <div *ngIf="!visible1" class=" ps-5">
                        <button type="button" class="customBtn ms-5" (click)="showContent1()">
                            Seventh & Eight Assembly 
                        </button>
                      </div>

                      <div *ngIf="visible21" class="d-flex flex-column left-panel-open">
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab19')">
                                Eminent Members 
                            </button>
                          </div>
                        </div>
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" (click)="showTab('tab20')">
                                Landmark Legislations
                            </button>
                          </div>
                        </div>
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" (click)="showTab('tab21')">
                                Headliners
                            </button>
                          </div>
                        </div>
                      </div>                     
                  </div>

                  <div class="col-md-6 float-right">
                    <div *ngIf="!visible2" class="text-center ms-5 ps-5">
                        <button type="button" class="customBtn ms-5" (click)="showContent2()">
                            Fifteenth &
                            Sixteenth Assembly  
                        </button>
                    </div>
                    <div *ngIf="visible11" class="d-flex flex-column right-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                        <button type="button" type="button" (click)="showTab('tab3')">
                            Eminent Members aa
                        </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                        <button type="button" (click)="showTab('tab4')">
                            Landmark Legislations 
                        </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                        <button type="button" (click)="showTab('tab5')">
                            Headliners
                        </button>
                        </div>
                    </div>
                    </div>
                    <div *ngIf="visible51" class="d-flex flex-column right-panel-open">
                        <div class="p-2 bd-highlight">
                            <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab13')">
                                Headliners
                            </button>
                            </div>
                        </div>
                   
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div *ngIf="!visible3" class="text-center  ps-5">
                        <button type="button" class="customBtn ms-5" (click)="showContent3()">
                           Nine & Tenth Assembly
                        </button>
                      </div>
                      <div *ngIf="visible41" class="d-flex flex-column left-panel-open">
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab15')">
                                Eminent Members 
                            </button>
                          </div>
                        </div>
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" (click)="showTab('tab16')">
                                Landmark Legislations
                            </button>
                          </div>
                        </div>
                        <div class="p-2 bd-highlight">
                          <div class="text-center">
                            <button type="button" (click)="showTab('tab17')">
                                Headliners
                            </button>
                          </div>
                        </div>
                      </div>
                         <div *ngIf="visible51" class="d-flex flex-column right-panel-open">
                            <div class="p-2 bd-highlight">
                                <div class="text-center">
                                <button type="button" type="button" (click)="showTab('tab11')">
                                    Eminent Members
                                </button>
                                </div>
                            </div>
                       
                        </div>
                  </div>

                  <div class="col-md-6 float-right">
                    <div *ngIf="!visible4" class="text-center">
                        <button type="button" class="customBtn ms-5" (click)="showContent4()">
                           Thirteenth & Fourteenth Assembly
                        </button>
                      </div>
                      <div *ngIf="visible31" class="d-flex flex-column right-panel-open">
                        <div class="p-2 bd-highlight">
                            <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab7')">
                                Eminent Members 
                            </button>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="text-center">
                            <button type="button" (click)="showTab('tab8')">
                                Landmark Legislations
                            </button>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="text-center">
                            <button type="button" (click)="showTab('tab9')">
                                Headliners
                            </button>
                            </div>
                        </div>
                        </div>
                        <div *ngIf="visible51" class="d-flex flex-column right-panel-open">
                            <div class="p-2 bd-highlight">
                                <div class="text-center">
                                <button type="button" type="button" (click)="showTab('tab12')">
                                    Landmark Legislations
                                </button>
                                </div>
                            </div>
                          
                        </div>
                  </div>
                  <div class="col-md-12 ">
                    <div *ngIf="!visible5" class="text-center ms-3">
                        <button type="button" class="customBtn ms-5" (click)="showContent5()">
                            Eleventh & Twelfth Assembly
                        </button>
                      </div>
                  </div>
                 


              </ng-container>

                <ng-container *ngIf="!showtabsall">
                   

                        
                        <div class="col-md-5 common-wrapper imgw bg-1857 d-flex ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087.png" class="part5ftimg" alt="img" />
                              </div>

                        </div>    
                        <div class="col-md-3 common-wrapper imgw bg-1857 d-flex ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (1).png" class="part5ftimg" alt="img" />
                              </div>

                        </div>     
                </ng-container>

              
             
             
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  