<ng-container [ngSwitch]="tab">

    <div *ngSwitchCase="'tab1'" class="container bghead fix-height">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="row align-items-start">
                    <div class="col-md-6 pe-0">
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (2).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (4).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2 ">
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (3).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                        <div class="common-wrapper mb-3">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1087 (5).png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white">

                <p>
                    {{'Part5.JAN' | translate}}
                </p>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab2'" class="container bghead fix-height">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="row mg-rw">
                    <div class="col-md-12 mb-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1.png" class="ancimg"
                                alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/tribhuvan narayan singh-21 (1) 1 (1).png" class="ancimg"
                                alt="img" />
                        </div>

                    </div>


                </div>
            </div>

            <div class="col-md-6 text-white" [innerHTML]="'Part5.TENURE' | translate">

            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab3'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center text-white">
                        <h4 class="text-center"> {{'Part5.SPEAKER' | translate}}</h4>
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d1.png" class="ancimg"
                                    alt="Shri Jagannath Prasad" />
                            </div>

                        </div>
                        <small class="d-block">{{'Part5.JAGN' | translate}}</small>
                    </div>
                    <div class="col-md-12 text-white mt-2">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1095.png" class="ancimg"
                                    alt="Babu Banarasi Das" />
                            </div>
                        </div>
                    </div>
                    <small class="d-block">{{'Part5.BABU' | translate}}</small>


                </div>
            </div>

            <div class="col-md-6 text-white">

                <span>

                    {{'Part5.7TH' | translate}}
                </span>


            </div>

            <div class="col-md-4 ps-0">
                <div class="row mg-rw text-white text-center">
                    <h4 class="text-center">{{'Part5.LEADER' | translate}}</h4>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1082.png" class="ancimg" alt="Shri Raj Mangal
                                  Pandey" />

                            </div>
                        </div>
                        <small class="d-block">Shri Raj Mangal
                            Pandey</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1094 (2).png" class="ancimg"
                                    alt="N.D. Tiwari" />
                            </div>
                        </div>
                        <small class="d-block">N.D. Tiwari</small>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-white">
                        <h4 class="text-center">CM of Seventh Assembly</h4>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle 1094 (1).png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small class="d-block">Ram Naresh
                            Yadav</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d1.png" class="ancimg" alt="Babu Banarsi
                                Das" />

                            </div>
                        </div>
                        <small class="d-block">Babu Banarsi
                            Das</small>
                    </div>


                </div>





            </div>


        </div>

    </div>

    <div *ngSwitchCase="'tab4'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <!-- <img src="../../assets/part5img/Rectangle-d2.png" class="ancimg" alt="img" /> -->
                            <video src="../../assets/part5img/Video1.mp4" controls _ngcontent-mqy-c16
        class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
    
                        </div>

                    </div>



                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab5'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-4">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d3.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d4.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white">

                <span [innerHTML]="'Part5.BABUP' | translate">


                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab6'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-8 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d5.png" class="ancimg" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-4 text-white">

                        <p>
                            {{'Part5.9TH' | translate}}
                        </p>


                    </div>



                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab7'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">{{'Part5.SPEAKER' | translate}}</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d6.png" class="ancimg" alt="SN.D. Tiwari" />
                            </div>
                        </div>
                        <p>N.D. Tiwari</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white">
                <span class="d-block p-2 border-light border-1" [innerHTML]="'Part5.10TH' | translate">

                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h4 class="">{{'Part5.LEADER' | translate}}</h4>
                    <div class="col-md-12 ">
                        <div class="common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d7.png" class="ancimg" alt="Harikishan
                                  Srivastav" />
                            </div>
                        </div>
                        <small>{{'Part5.HARI' | translate}}</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h4 class="text-center">{{'Part5.CM10' | translate}}</h4>
                    </div>
                    <div class="col-md-12">
                        <div class=" common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d8.png" class="ancimg" alt="Ram Naresh
                                    Yadav" />

                            </div>
                        </div>
                        <small>{{'Part5.YADAV' | translate}}</small>

                    </div>



                </div>





            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab8'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <!-- <img src="../../assets/part5img/Rectangle-d9.png" class="ancimg" alt="img" /> -->
                            <video src="../../assets/part5img/Video9.10.mp4" controls _ngcontent-mqy-c16
        class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
    
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab9'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="row ">
                    <div class="col-md-12 mb-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangled-11.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d10.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white">

                <span>
                    {{'Part5.IMP' | translate}}
                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab10'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d12.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p [innerHTML]="'Part5.11TH' | translate">

                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab11'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">{{'Part5.SPEAKER' | translate}}</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d13.png" class="ancimg" alt="Dhaniram
                                Verma" />

                            </div>
                        </div>
                        <p>{{'Part5.DHAN' | translate}}</p>
                        <div class="common-wrapper mt-3 bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d14.png" class="ancimg" alt="Barkhu Ram
                                Verma" />


                            </div>
                        </div>
                        <p>{{'Part5.RAM' | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
                    [innerHTML]="'Part5.12TH' | translate">

                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h4 class="">{{'Part5.LEADER' | translate}}</h4>
                    <div class="col-md-12 ">
                        <div class="common-wrapper bg-1857 w-40">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d15.png" class="ancimg" alt="Shri Raj Mangal
                                Pandey" />

                            </div>
                        </div>
                        <small>{{'Part5.KALYAN' | translate}}</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h4 class="text-center">{{'Part5.CM10' | translate}}</h4>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d8.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>{{'Part5.MAYA' | translate}}</small>

                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>{{'Part5.MUL' | translate}}</small>

                    </div>


                </div>





            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab12'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <!-- <img src="../../assets/part5img/Rectangle-d18.png" class="ancimg" alt="img" /> -->
                            <video src="../../assets/part5img/Video11.12.mp4" controls _ngcontent-mqy-c16
                            class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab13'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="row mg-rw">
                    <div class="col-md-8">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d19.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ps-0">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-20.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-21.png" class="ancimg" alt="img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 text-white">
                <span [innerHTML]="'Part5.PRESI' | translate">

                </span>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab14'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">{{'Part5.SPEAKER' | translate}}</strong>
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d23.png" class="ancimg" alt="Kesari Nath
                                Tripathi
                                " />
                            </div>
                        </div>
                        <p>{{'Part5.KES' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
                    [innerHTML]="'Part5.14TH' | translate">

                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h5 class="">{{'Part5.LEADER' | translate}}</h5>
                    <div class="col-md-6 ">
                        <div class="common-wrapper bg-1857">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d24.png" class="ancimg" alt="Mohd. Azam
                                  Khan" />
                            </div>
                        </div>
                        <small>{{'Part5.AZAM' | translate}}</small>
                    </div>
                    <div class="col-md-6 ">
                        <div class="common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d25.png" class="ancimg" alt="Lalji
                                Tandon " />
                            </div>
                        </div>
                        <small>{{'Part5.LAL' | translate}}</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h5 class="text-center">{{'Part5.CM7' | translate}}</h5>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>{{'Part5.MAYA' | translate}}</small>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>{{'Part5.YADAV' | translate}}</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="'tab15'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p>
                    11th Assembly
                    22nd June 1991 – 6th December 1992
                    Seats: 425 seats
                    Government formed by Bharatiya Janata Party with 269 seats

                    12th Assembly
                    4th December 1993 – 27th October 1995
                    Seats: 425 seats
                    Government initially formed by SP and BSP
                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab16'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <!-- <img src="../../assets/part5img/Rectangle-d26.png" class="ancimg" alt="img" /> -->
                            <video src="../../assets/part5img/Video13.14.mp4" controls _ngcontent-mqy-c16
                            class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab17'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-5">
                <div class="row mg-rw">
                    <div class="col-md-7 pe-0">
                        <div class="w-97">
                            <img src="../../assets/part5img/head1.png" class="ancimg" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-5">
                        <div class="w-97">
                            <img src="../../assets/part5img/head2.png" class="ancimg" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="w-97">
                            <img src="../../assets/part5img/head3.png" class="ancimg" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-7 text-white" style="max-height:500px;overflow-y: auto;">

                <span>
                    In a first-of-its-kind move, the Bharatiya Janata Party and the Bahujan Samaj Party decided to form
                    a government with mutual support headed by either party for six months each. With this move, Sushree
                    Mayawati became the leader of the house on March 21st, 1997 for the onset of the Thirteenth Vidhan
                    Sabha. This Vidhan Sabha also witnessed the reorganisation of Uttar Pradesh to form the state of
                    Uttaranchal – now Uttarakhand.<br>

                    The Uttar Pradesh Legislature has gradually evolved over time since its inception. Through the years
                    its structure has been reconstituted keeping in line with the events at the time. The formation of
                    Uttarakhand was one such event, which yet again instituted such a change in the Vidhan Sabha as well
                    as the Vidhan Parishad. The Vidhan Sabha strength was set at 403 (plus one nominated Anglo-Indian
                    Member) and the Vidhan Parishad was now a 100 members strong. Hence, for the Fourteenth Assembly
                    elections, 403 seats were contested
                </span>


            </div>


        </div>

    </div>
    <div *ngSwitchCase="'tab18'" class="container bghead fix-height">
        <div class="row">

            <div class="col-md-6 common-wrapper bg-1857">
                <div class="w-97">
                    <img src="../../assets/part5img/Rectangle-d22.png" class="ancimg" alt="img" />
                </div>

            </div>

            <div class="col-md-6 text-white" style="max-height:500px;overflow-y: auto;">

                <p [innerHTML]="'Part5.15TH' | translate">

                </p>


            </div>

        </div>

    </div>
    <div *ngSwitchCase="'tab19'" class="container bghead fix-height">
        <div class="row text-white ">
            <div class="col-md-2">
                <div class="row mg-rw">
                    <div class="col-md-12 text-center">
                        <strong class="text-center">{{'Part5.SPEAKER' | translate}}</strong>
                        <div class="">
                            <div class="w-97">
                                <img src="../../assets/part5img/sukhdev.png" class="ancimg" alt="Kesari Nath
                                Tripathi
                                " />
                            </div>
                        </div>
                        <p>{{'Part5.SUKH' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-white mt-3">
                <span class="d-block p-2" style="border: 1px solid #ebebeb;border-radius: 15px;"
                    [innerHTML]="'Part5.15TH2' | translate">
                    [innerHTML]="'Part5.BABUP' | translate"
                </span>
            </div>
            <div class="col-md-4">
                <div class="row text-white">
                    <h5 class="">{{'Part5.LEADER' | translate}}</h5>
                    <div class="col-md-6 ">
                        <div class="w-97">
                            <img src="../../assets/part5img/shivpal.png" class="ancimg" alt="Mohd. Azam
                                  Khan" />
                        </div>
                        <small>{{'Part5.PAL' | translate}}</small>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d17.png" class="ancimg" alt="Babu Banarsi
                                Das" />
                            </div>
                        </div>
                        <small>{{'Part5.MUL' | translate}}</small>
                    </div>
                </div>
                <div class="row  text-white mt-3">
                    <div class="col-md-12">
                        <h5 class="text-center">{{'Part5.CM15' | translate}}</h5>
                    </div>
                    <div class="col-md-6">
                        <div class=" common-wrapper bg-1857 ">
                            <div class="w-97">
                                <img src="../../assets/part5img/Rectangle-d16.png" class="ancimg" alt="Ram Naresh
                                Yadav" />

                            </div>
                        </div>
                        <small>{{'Part5.MAYA' | translate}}</small>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="'tab20'" class="container bghead fix-height">
        <div class="row">
            <div class="col-md-12">
                <div class="row mg-rw">
                    <div class="col-md-12 common-wrapper bg-1857">
                        <div class="w-97">
                            <!-- <img src="../../assets/part5img/Rectangle-d34.png" class="ancimg" alt="img" /> -->
                            <video src="../../assets/part5img/Video15.16.mp4" controls _ngcontent-mqy-c16
                            class="ancimg  p-1 common-wrapper  bg-1857" alt="img"></video>
                        </div>

                    </div>

                </div>
            </div>




        </div>

    </div>
    <div *ngSwitchCase="'tab21'" class="container bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="row mg-rw">
                    <div class="col-md-6 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d35.png" class="img-fluid" alt="img" />
                        </div>

                    </div>

                    <div class="col-md-6 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d36.png" class="img-fluid" alt="img" />
                        </div>

                    </div>
                    <div class="col-md-12 mt-3 common-wrapper bg-1857">
                        <div class="w-97">
                            <img src="../../assets/part5img/Rectangle-d37.png" class="img-fluid" alt="img" />
                        </div>

                    </div>



                </div>





            </div>

            <div class="col-md-8 text-white" style="max-height:500px;overflow-y: auto;">


                <span [innerHTML]="'Part5.MAYAP' | translate"></span>


            </div>


        </div>

    </div>












</ng-container>

<div class="row">
    <div class="col-md-12">
        <div class="text-center bgceneter five-rays {{visible31 || visible11 ? 'left-rays' : visible41 || visible51 || visible21 ? 'right-rays' : ''}}"
            (click)="showalltabs()">
            <img src="../../assets/part5img/Part5o.png" class="ovalbtn" alt="img" />
            <div class="rays" *ngIf="showtabsall">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
                <img src="../../assets/part5img/rays.png">
            </div>
        </div>
    </div>
</div>
<div class="fix-height footimg">

    <ng-container *ngIf="showtabsall">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 " *ngIf="!visible1">
                <div class="ps-5 ms-5">
                    <button type="button" class="ms-5 customBtn {{visible11 ? 'rightSide' : ''}}"
                        (click)="showContent1()">
                        {{'Part5.7N8BTN' | translate}}
                    </button>
                </div>


            </div>
            <div *ngIf="visible21" class="col-md-6">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab19')">
                                {{'Part5.EMEMBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab20')">
                                {{'Part5.LANDBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab21')">
                                {{'Part5.HEADBTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="!visible2">
                <div class="text-center ms-5 ps-5">
                    <button type="button" class="customBtn ms-5 {{visible21 ? 'leftSide' : ''}}"
                        (click)="showContent2()">
                        {{'Part5.15N16BTN' | translate}}
                    </button>
                </div>

            </div>
            <div class="col-md-6" *ngIf="visible11">
                <div class="d-flex flex-column right-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab3')">
                                {{'Part5.EMEMBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab4')">
                                {{'Part5.LANDBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab5')">
                                {{'Part5.HEADBTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible51">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab13')">
                                {{'Part5.HEADBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab11')">
                                {{'Part5.EMEMBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab12')">
                                {{'Part5.LANDBTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="!visible3">
                <div class="text-center  ps-5">
                    <button type="button" class="customBtn ms-5 {{visible31 ? 'rightSide' : ''}}"
                        (click)="showContent3()">
                        {{'Part5.9N10BTN' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible41">
                <div class="d-flex flex-column left-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab15')">
                                {{'Part5.EMEMBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab16')">
                                {{'Part5.LANDBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab17')">
                                {{'Part5.HEADBTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 float-right" *ngIf="!visible4">
                <div class="text-center">
                    <button type="button" class="customBtn ms-5 {{visible41 ? 'leftSide' : ''}}"
                        (click)="showContent4()">
                        {{'Part5.13N14BTN' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-md-6 " *ngIf="visible31">
                <div class="d-flex flex-column right-panel-open">
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" type="button" (click)="showTab('tab7')">
                                {{'Part5.EMEMBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab8')">
                                {{'Part5.LANDBTN' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <div class="text-center">
                            <button type="button" (click)="showTab('tab9')">
                                {{'Part5.HEADBTN' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="{{visible51 ? 'col-md-6' : 'col-md-12 '}}">
                <div *ngIf="!visible5" class="text-center ms-3">
                    <button type="button" class="customBtn {{visible51 ? 'leftSide' : ''}}" (click)="showContent5()">
                        {{'Part5.11N12BTN' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!showtabsall">

        <div class="container">
            <div class="row h-100 justify-content-center mt-3 align-items-center">

                <div class="col-md-7  ">
                    <div class="common-wrapper">
                        <div>
                            <img src="../../assets/part5img/Rectangle 1087.png" class="ancimg" alt="img" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3 pe-0 ps-0">
                    <div class="common-wrapper">
                        <div>
                            <img src="../../assets/part5img/Rectangle 1087 (1).png" class="ancimg" alt="img" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-container>





</div>