<ng-container [ngSwitch]="tabpart">
  
</ng-container>

<div
  class="row bgceneter three-rays {{visible1  ? 'left-rays' : visible2 ? 'center-rays' : visible3 ? 'right-rays' : ''}}">
  <div class="col-md-12">
    <div class="text-center" style="cursor: pointer" (click)="showaob()">
      <img src="../../assets/latest.png" class="ovalbtn" alt="img" />
      <div class="rays" *ngIf="isshow">
        <img src="../../assets/rays.png">
        <img src="../../assets/rays.png">
        <img src="../../assets/rays.png">
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isshow" class="container  bghead fix-height ">
  <div class="d-flex justify-content-center">

    <div class="w-35 pe-1">
      <img src="../../assets/Assembly.png" _ngcontent-evd-c16 class="img-fluid p-1 common-wrapper mb-3  bg-1857"
        alt="img" />

      <img src="../../assets/narendra-modi.png" class="img-fluid p-1 common-wrapper bg-1857" alt="img" />
    </div>

    <div class="w-35 ps-3">
      <img src="../../assets/incumbent.png" _ngcontent-wfe-c16 class="img-fluid p-1 common-wrapper " alt="img" />
    </div>
  </div>
</div>

<div *ngIf="isshow" class="fix-height footimg">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-md-4" *ngIf="!visible2 && !visible3" class="{{visible1 ? 'col-md-6' : 'col-md-4'}} mb-4">
      <div class="text-center {{!visible1 ? 'mb-5 pb-5' : ''}}">
        <button type="button " class="{{!visible1 ? 'mb-5 ms-5' : ''}} customBtn ms-5" (click)="showContent2_1()">
          Seventeenth & Eighteenth Assembly
        </button>
      </div>
    </div>
    <div class="{{visible2 ? 'col-md-6' : 'col-md-4'}}" *ngIf="!visible3 && !visible1">
      <div class="text-center">
        <button type="button" class="customBtn" (click)="showContent2_2()">
          Future
          Vision
        </button>
      </div>
    </div>
    <div *ngIf="visible3" class="col-md-6 mb-4">

    </div>
    <div class="{{visible2 ? 'col-md-6' : 'col-md-4'}} mb-4" *ngIf="!visible1 && !visible2">
      <div class="text-center {{!visible2? 'mb-5 pb-5' : ''}}">
        <button type="button" class="customBtn {{!visible2 ? 'mb-5 me-5' : ''}}" (click)="showContent2_3()">
          Speaker’s
          Initiatives
        </button>
      </div>
    </div>

    <div *ngIf="visible1" class="col-md-6 ">
      <div class="d-flex flex-column  right-panel-open">
        <div class="bd-highlight p-2">
          <div class="text-center">
            <button type="button" type="button" (click)="showTabpart('tab23')">
              Eminent Members
            </button>
          </div>
        </div>
        <div class="bd-highlight p-2">
          <div class="text-center">
            <button type="button" (click)="showTabpart('tab25')">
              Landmark Legislations
            </button>
          </div>
        </div>
        <div class="bd-highlight p-2">
          <div class="text-center">
            <button type="button" (click)="showTabpart('tab26')">
              Headliners
            </button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>