<ng-container [ngSwitch]="tab">
  <div *ngSwitchCase="'tab1'" class="container bghead fix-height">
    <div class="d-flex common-wrapper bg-1857">
      <div class="w-65">
        <img
          src="../../assets/befor 1857 overview.png"
          class="ancimg"
          alt="img"
        />
      </div>
      <div class="w-35 text-bg-1875 text-white">
        <p>
          {{ "Part1.P1" | translate }}
        </p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab2'" class="container bghead fix-height">
    <div class="d-flex">
      <div class="w-35">
        <div class="row pb-2">
          <img src="../../assets/anclo.png" class="logo" alt="logo" />
        </div>
        <div class="row pt-3">
          <img src="../../assets/ancup.png" class="logo" alt="logo" />
        </div>
      </div>
      <div class="w-65 text-white">
        <p class="small-font ps-4" [innerHTML]="'Part1.P2' | translate"></p>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab3'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-6">
        <div class="row p-3">
          <img src="../../assets/left.png" class="ancimg" alt="logo" />
        </div>
        <div class="row p-3 text-white">
          {{ "Part1.DIV1" | translate }}
        </div>
      </div>
      <div class="col-md-6 text-white">
        <div class="row">
          <span> {{ "Part1.SPAN1" | translate }} </span>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <img src="../../assets/right.png" class="ancimg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab4'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-12 text-white">
        <img
          src="../../assets/func1.png"
          style="
            display: inline-block;
            margin-right: 8px;
            width: 150px;
            float: left;
          "
        />
        {{ "Part1.IMG1" | translate }}
        <img
          src="../../assets/func2.png"
          style="
            display: inline-block;
            margin-left: 8px;
            float: right;
            width: 450px;
          "
        />
        {{ "Part1.IMG2" | translate }}
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab5'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-5">
        <img src="../../assets/downleft.png" class="ancimg" alt="img" />
      </div>
      <div class="col-md-7">
        <img src="../../assets/downright.png" class="downfallrz" alt="img" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-2 text-white">
        {{ "Part1.DIV2" | translate }}
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab6'" class="container bghead fix-height">
    <div class="d-flex align-items-center">
      <div class="w-30">
        <div class="row">
          <img src="../../assets/mughal.png" class="ancimg" alt="img" />
        </div>
        <div class="row">
          <img src="../../assets/india.png" class="ancimg" alt="img" />
        </div>
      </div>
      <div class="w-40 pe-4">
        <img src="../../assets/mughalgrp.png" class="ancimg" alt="img" />
      </div>
      <div class="w-30 ps-2">
        <div class="text-white">
          <p class="small-font">{{ "Part1.MUG" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab7'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-6">
        <div class="row p-3">
          <img src="../../assets/nawab-1.png" class="ancimg" alt="logo" />
        </div>
        <div class="row p-3 text-white">
          {{ "Part1.DIV3" | translate }}
        </div>
      </div>
      <div class="col-md-6 text-white">
        <div class="row">
          <span>{{ "Part1.MUG1" | translate }} </span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>{{ "Part1.SPAN3" | translate }}</span>
          </div>
          <div class="col-md-6">
            <img src="../../assets/nawab-2.png" class="ancimg" alt="logo" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab8'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-5">
        <img src="../../assets/entrylft.png" class="ancimg" alt="img" />
      </div>
      <div class="col-md-6">
        <img src="../../assets/entryrght.png" class="ancimg" alt="img" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 pt-2 text-white"
        [innerHTML]="'Part1.DIV4' | translate"
      ></div>
    </div>
  </div>

  <div *ngSwitchCase="'tab9'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/Wajid.png" class="ancimg" alt="img" />
        <div class="text-center text-white">{{ "Part1.WAJ" | translate }}</div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="text-white">
            {{ "Part1.DIV5" | translate }}
          </div>
        </div>
        <div class="row">
          <img src="../../assets/bottom.png" class="ancimg" alt="img" />
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'tab10'" class="container bghead fix-height">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/Dal.png" class="ancimg" alt="img" />
        <div class="text-center text-white pt-3">{{ 'Part1.DAL' | translate}}</div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="text-white">
            {{ "Part1.DIV6" | translate }}
          </div>
        </div>
        <div class="row">
          <img src="../../assets/bottom4.png" class="ancimg" alt="img" />
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="col-md-12">
    <div
      class="text-center bgceneter two-rays {{
        visible ? 'left-rays' : visible1 ? 'right-rays' : ''
      }}"
      (click)="showalltabs()"
    >
      <div class="text-center" style="cursor: pointer" (click)="showaob()">
        <img src="../../assets/oval.png" class="ovalbtn" alt="img" />
        <div class="rays" *ngIf="isshow && showalltabs">
          <img src="../../assets/rays.png" />
          <img src="../../assets/rays.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isshow" class="container bghead fix-height">
  <div class="d-flex align-items-center">
    <div class="w-30 ps-2">
      <div class="text-white">
        <p class="small-font" [innerHTML]="'Part1.P3' | translate"></p>
      </div>
    </div>
    <div class="w-30">
      <div class="row">
        <img src="../../assets/mughal.png" class="ancimg" alt="img" />
      </div>
      <div class="row">
        <img src="../../assets/india.png" class="ancimg" alt="img" />
      </div>
    </div>
    <div class="w-40 pe-4">
      <img src="../../assets/mughalgrp.png" class="ancimg" alt="img" />
    </div>
  </div>
</div>

<div *ngIf="isshow" class="fix-height footimg">
  <div class="row h-100 align-items-center">
    <div *ngIf="!visible1" class="col-md-6 mb-4">
      <div class="text-center ms-5 ps-5">
        <button
          type="button"
          class="customBtn ms-5 {{ visible ? 'rightSide' : '' }}"
          (click)="showContent()"
        >
          {{ "Part1.ANCBTN" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="visible1" class="col-md-6 mb-4">
      <div class="d-flex flex-column left-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTab('tab7')">
              {{ "Part1.NAWABBTN" | translate }}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTab('tab8')">
              {{ "Part1.AWADHBTN" | translate }}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTab('tab9')">
              {{ "Part1.ANNEXBTN" | translate }}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTab('tab10')">
              {{ "Part1.LEGISBTN" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div *ngIf="!visible" class="text-center me-5 pe-5">
        <button
          type="button"
          class="customBtn me-5 {{ visible1 ? 'leftSide' : '' }}"
          (click)="showContent1()"
        >
          {{ "Part1.AOBBTN" | translate }}
        </button>
      </div>

      <div *ngIf="visible" class="d-flex flex-column right-panel-open">
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" type="button" (click)="showTab('tab3')">
              {{ "Part1.STRUCTBTN" | translate }}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTab('tab4')">
              {{ "Part1.FUNCBTN" | translate }}
            </button>
          </div>
        </div>
        <div class="p-2 bd-highlight">
          <div class="text-center">
            <button type="button" (click)="showTab('tab5')">
              {{ "Part1.DOWNBTN" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
