<div class="frontcontainer">
  <div class="col-md-12">
    <div class="row main">
      <div class="col-md-6">
        <ng-container [ngSwitch]="tab">
          <div *ngSwitchCase="'tab1'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-8">
                <img
                  src="../../assets/part1img (1).png"
                  class="ancimg"
                  alt="img"
                />
              </div>
              <div class="col-md-4 text-white">
                <p class="pad2">
                  The soil of Uttar Pradesh is seeped in rich ancient history
                  that has been witness to our democratic traditions long before
                  the subcontinent claimed Independence from the British. 
                </p>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab2'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-5">
                <div class="row p-3">
                  <img src="../../assets/anclo.png" class="logo" alt="logo" />
                </div>
                <div class="row p-3">
                  <img src="../../assets/ancup.png" class="logo" alt="logo" />
                </div>
              </div>
              <div class="col-md-7 text-white">
                <span>
                  Ancient India was no stranger to Democracy. The concept of
                  democracy was not only common but prevalent in large sections
                  of society, for example in local governments, trade unions,
                  religious assemblies, etc. Elaborate procedures for elections
                  existed as far ago as the Vedic times. <br />The parliamentary
                  form of governance we see today in India as well as the west
                  has been prevalent in the Indian subcontinent long before the
                  British arrived. Mentions of Sabhas and Samitis can be traced
                  back to Vedic Literature as well as the likes of Dharma Sabhas
                  of the Buddhists within India. Up until the 16th century, this
                  kind of governance expanded to different parts of the
                  subcontinent before the land was subjected to different
                  invasions.
                </span>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab3'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-6">
                <div class="row p-3">
                  <img src="../../assets/left.png" class="ancimg" alt="logo" />
                </div>
                <div class="row p-3 text-white">
                  Over the years, when these Sabhas did lose their agency when
                  compared to the position they held before, they were still
                  equipped to dismiss a king if the members decided a King’s
                  actions were against the law of the land and/or against public
                  interest. 
                </div>
              </div>
              <div class="col-md-6 text-white">
                <div class="row">
                  <span
                    >The Sabhas mentioned in the Vedas as well as Mahabharat
                    were essentially the means to deliberate on the various
                    policies of the state as well as public welfare. They had a
                    Sabhapati who was elected by this very Sabha and would be a
                    part of all the proceedings of the sabha.
                  </span>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <span
                      >These sabhapatis were also referred to as Kings, but it
                      is key to note that they were elected by the sabha,
                      essentially making the government a republic. Ancient
                      India was predominantly a collection of republics, not
                      monarchies. </span
                    >
                  </div>
                  <div class="col-md-6">
                    <img
                      src="../../assets/right.png"
                      class="ancimg"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab4'" class="container p-4 bghead minheight">
            <div class="row">
              <img src="../../assets/funcimg.png" class="ancimg" alt="img" />
            </div>
          </div>

          <div *ngSwitchCase="'tab5'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-5">
                <img src="../../assets/downleft.png" class="ancimg" alt="img" />
              </div>
              <div class="col-md-7">
                <img
                  src="../../assets/downright.png"
                  class="downfallrz"
                  alt="img"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pt-2 text-white">
                These institutions were very prevalent all over the subcontinent
                before it gradually started disappearing when different invaders
                established their own rule and in effect their own styles of
                governance on the land they were on. In the Mahabharat period,
                the form of governance came very close to that what we have in
                the present day. These governments slowly evolved into
                monarchical styles of governance with invasions.  They almost
                completely dissipated when Mughals entered the Subcontinent.
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab6'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <img src="../../assets/mughal.png" class="ancimg" alt="img" />
                </div>
                <div class="row">
                  <img src="../../assets/india.png" class="ancimg" alt="img" />
                </div>
              </div>
              <div class="col-md-4">
                <img
                  src="../../assets/mughalgrp.png"
                  class="ancimg"
                  alt="img"
                />
              </div>
              <div class="col-md-4">
                <div class="text-white">
                  An understanding of the gradual progression from the downfall
                  of the Mughal Empire to the British East India Company taking
                  the reigns of the Awadh region culminating in the set up of a
                  Legislature for British-held India.
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab7'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-12">
                <img src="../../assets/nawab.png" class="ancimg" alt="img" />
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab8'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-6">
                <img src="../../assets/entrylft.png" class="ancimg" alt="img" />
              </div>
              <div class="col-md-6">
                <img
                  src="../../assets/entryrght.png"
                  class="ancimg"
                  alt="img"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pt-2 text-white">
                British presence in the Awadh region came later than in most
                parts of India. While there were certain pockets that were
                governed by the Company byelaws, for example the Company factory
                in Agra as well as the region that fell within its compound in
                1619 in Agra, that was the extent of their engagement in
                administration till 1773. 
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab9'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/vajid.png" class="ancimg" alt="img" />
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="text-white">
                    In 1856, Awadh was the last state that the Company had no
                    direct control over. As they grew impatient, they annexed
                    the state under the Doctrine of Lapse stating the then Nawab
                    - Nawab Wajid Ali Shah was an unfit King.  Awadh hence came
                    under the Company’s control in 1856, the company now having
                    annexed the last Independent Indian territory.
                  </div>
                </div>
                <div class="row">
                  <img src="../../assets/bottom.png" class="ancimg" alt="img" />
                </div>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'tab10'" class="container p-4 bghead minheight">
            <div class="row">
              <div class="col-md-3">
                <img
                  src="../../assets/dalhousie.png"
                  class="ancimg"
                  alt="img"
                />
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="text-white">
                    The first step in the development of our legislature in what
                    we now know as Uttar Pradesh came in the year 1853. It came
                    with a Charter from the British Crown that extended the East
                    India Company’s trade in the Indian territories indefinitely
                    and created virtually a separate Legislative Council for the
                    British Territories in India with the Governor General at
                    its head.
                  </div>
                </div>
                <div class="row">
                  <img
                    src="../../assets/bottom4.png"
                    class="ancimg"
                    alt="img"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row">
          <div class="col-md-12">
            <div class="text-center bgceneter">
              <img src="../../assets/oval.png" class="ovalbtn" alt="img" />
            </div>
          </div>
        </div>
        <div class="container minheight footimg">
          <div class="row">
            <div *ngIf="!visible1" class="col-md-6 pad">
              <div class="text-center">
                <button type="button" class="customBtn" (click)="showContent()">
                  Ancient
                </button>
              </div>
            </div>

            <div *ngIf="visible1" class="col-md-6 pad3">
              <div class="d-flex flex-column mb-3">
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      type="button"
                      (click)="showTab('tab7')"
                    >
                      Nawabs of Awadh
                    </button>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      (click)="showTab('tab8')"
                    >
                      Entry into Awadh region
                    </button>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      (click)="showTab('tab9')"
                    >
                      Annexation of Awadh
                    </button>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button type="button" class="customBtn">
                      Legislature in British India
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 pad">
              <div *ngIf="!visible" class="text-center">
                <button
                  type="button"
                  class="customBtn"
                  (click)="showContent1()"
                >
                  Arrival of british
                </button>
              </div>

              <div *ngIf="visible" class="d-flex flex-column mb-3">
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      type="button"
                      (click)="showTab('tab3')"
                    >
                      Structure
                    </button>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      (click)="showTab('tab4')"
                    >
                      Function
                    </button>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <div class="text-center">
                    <button
                      type="button"
                      class="customBtn"
                      (click)="showTab('tab5')"
                    >
                      Downfall
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <ng-container [ngSwitch]="tab">
          <div class="row bghead minheight p-4">
            <div class="col-md-6">
              <div class="header">
                <img src="../../assets/part2up.png" class="ancimg" alt="img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="para text-white">
                A brief understanding of the milestones within the chronicles of
                our Legislative History in this time period. The Revolt of 1857
                – the deafening roar against colonialism that originated in
                modern-day Uttar Pradesh. The First Council that had Indian
                representation. Indian Legislative Institutions evolving while
                contributing to the World War effort.
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row bgceneter">
          <div class="col-md-12">
            <div
              class="text-center"
              style="cursor: pointer"
              (click)="showaob()"
            >
              <img src="../../assets/oval2.png" class="ovalbtn" alt="img" />
            </div>
          </div>
        </div>

        <div *ngIf="!isshow" class="row minheight footimg p-4">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5 p-2">
                <img src="../../assets/img1.png" class="ancimg" alt="img" />
              </div>
              <div class="col-md-7 p-2 text-white">
                The First Council that had Indian representation. Indian
                Legislative Institutions evolving while contributing to the
                World War effort.
              </div>
            </div>
            <div class="row p-2">
              <img src="../../assets/img3.png" class="ancimg" alt="img" />
            </div>
          </div>
          <div class="col-md-3 p-2">
            <img src="../../assets/img2.png" class="img2" alt="img" />
          </div>
        </div>

        <div *ngIf="isshow" class="row minheight footimg p-4">
          <div class="col-md-6">
            <div class="d-flex flex-column mb-3">
              <div class="p-2 bd-highlight">
                <div class="text-center">
                  <button type="button" class="customBtn" type="button">
                    Revolt of 1857
                  </button>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <div class="text-center">
                  <button type="button" class="customBtn">
                    Indian Councils Act
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-column mb-3">
              <div class="p-2 bd-highlight">
                <div class="text-center">
                  <button type="button" class="customBtn" type="button">
                    In the face of World War 1
                  </button>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <div class="text-center">
                  <button type="button" class="customBtn">
                    Government of India Act
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
