<ng-container [ngSwitch]="tab">
    <div *ngSwitchCase="'tab1'" class="container bghead fix-height">
        <div class="d-flex align-items-center">
            <div class="w-65">
                <img src="../../assets/part3/Rectangle1.png" class="ancimg3 img-fluid" alt="img" />
            </div>
            <div class="w-35 text-white ps-4">
                <p>
                  {{ 'Part3.FIND' | translate}}
                </p>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab2'" class="container  bghead fix-height">
        <div class="d-flex align-items-center">
            <div class="w-35">
                <div class="row pb-2">
                    <img src="../../assets/part3/imgtab32.png" class="logo" alt="logo" />
                </div>
                <div class="row pt-3">
                    <img src="../../assets/part3/imgtab31.png" class="logo" alt="logo" />
                </div>
            </div>
            <div class="w-65 text-white">
                <p class="small-font ps-4 pad31">
                    {{'Part3.YEAR' | translate}}
                </p>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab3'" class="container  bghead fix-height">

        <div class="text-white" [innerHTML]="'Part3.1920' | translate">
            <div style="float:left;width:63%">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <img src="../../assets/part3/img311.png" class="img-fluid mb-2">
                        <img src="../../assets/part3/img312.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 ps-0 pe-4">
                        <img src="../../assets/part3/img313.png" class="img-fluid">
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div *ngSwitchCase="'tab4'" class="container  bghead fix-height">
        <div class="text-white w-100">
            <div style="float:left;width:60%">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <img src="../../assets/part3/img321.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 ps-0 pe-4 text-center">
                        <img src="../../assets/part3/img322.png" class="img-fluid mb-2">
                        Arrangement in seats of opposition 1924
                        <img src="../../assets/part3/img323.png" class="img-fluid">
                        Removal of sex bar for membership of council
                    </div>
                </div>
            </div>The first session of the next Council that was elected under the provisions of the Government of
            India Act 1919 was held on 9th January 1924 with Mr. Keane chairing the proceedings.<br>
            Before this session, the seating of the members was not organised according to their party affiliations,
            but according to seniority. During this particular session, it was announced that the Swaraj Party
            – the then opposition – would be seated on the left block, facing the government block.
            This system is being followed in the Lower House of the Uttar Pradesh Legislature to date.
        </div>

    </div>

    <div *ngSwitchCase="'tab5'" class="container  bghead fix-height">
        <div class="row text-white align-items-center">
            <div class="col-md-8">
                <img src="../../assets/part3/imgtab33.png" class="w-100">
            </div>
            <div class="col-md-4">
                <span>The workmanship of Vidhan Bhavan is an elegant and winsome amalgamation of European, Mughal,
                    and gothic styles of construction with an Awadhi flare. Most of its interior is made of famed
                    marble from Agra and Jaipur. The main octagonal Chamber has a domed ceiling, with jaalis
                    and exquisite figures of eight dancing peacocks.
                    The sessions of the Legislative Assembly convene in this very chamber.</span>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab6'" class="container  bghead fix-height">
        <div class="d-flex align-items-center">
            <div class="w-30">
                <div class="text-center text-white">
                    <img src="../../assets/part3/img331.png" class="img-fluid" alt="img" />
                    Before Vidhan Bhawan
                </div>
            </div>
            <div class="w-70 pe-4">

                <div class="text-white ps-4">
                    <small>Before the year 1922, there was no permanent venue for the council meetings of
                        the state to be held. The Council sessions were convened in eleven different buildings of
                        Lucknow,
                        Allahabad (Now Prayagraj), Bareilly, and Nainital, since its inception in 1887.<br>
                        <br>
                        Lucknow<br>
                        <br>
                        Government House<br>
                        Chattar Manzil<br>
                        Council Chamber<br>
                        Canning College<br>
                        <br>
                        Allahabad (Now Praygraj)<br>
                        <br>
                        Thorn Hill Mayne Memorial<br>
                        Muir Central College</small>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab7'" class="container  bghead fix-height">
        <div class="d-flex align-items-center">
            <div class="w-30">
                <div class="text-center text-white">
                    <img src="../../assets/part3/img332.png" class="img-fluid" alt="img" />
                    Decision to make Vidhan Bhawan 1920
                </div>
            </div>
            <div class="w-70 ps-4">

                <div class="text-white">
                    <p class="small-font">The different halls the Council assembled in since 1887 were proving to be
                        inadequate in
                        view of the growing size of the Council, especially after the Government of India Act in 1919.
                        In
                        1920,
                        at an informal meeting of the elected members of the Council, it was decided that a building
                        would
                        be constructed in Lucknow
                        that would serve as a venue for all matters of the Council of North-Western Provinces and Oudh.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab8'" class="container  bghead fix-height">
        <div class="d-flex align-items-center">
            <div class="w-50">
                <div>
                    <img src="../../assets/part3/img333.png" class="img-fluid" alt="img" />
                </div>
            </div>
            <div class="w-50 ps-4">

                <div class="text-white">
                    <h4>Foundation Stone for Assembly (1922)</h4>
                    <p class="small-font">
                        The Foundation Stone for Vidhan Bhavan – originally christened the Council House – was laid on
                        December 15, 1922,
                        by the then Governor Sir Spencer Harcourt Butler. M/s Martin and Company of Calcutta was tasked
                        with
                        the
                        construction of the building and took 6 years to conclude the project.
                        Its chief architects were Sir Swinon Jacob and Sardar Hira Singh.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab9'" class="container  bghead fix-height">
        <div class="row">
            <div class="col-md-8 text-center text-white">
                <img src="../../assets/part3/img334.png" class="img-fluid" alt="img" />
                Vidhan Sabha Wall
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h4>Architecture</h4>
                    <div class="text-white">
                        The workmanship of Vidhan Bhavan is an elegant and winsome amalgamation of European, Mughal,
                        and gothic styles of construction with an Awadhi flare. Most of its interior is made of famed
                        marble
                        from Agra and Jaipur.
                        The main octagonal Chamber has a domed ceiling, with jaalis and exquisite figures of eight
                        dancing
                        peacocks.
                        The sessions of the Legislative Assembly convene in this very chamber.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="'tab10'" class="container  bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../assets/part3/img335.png" class="img-fluid mb-2">
                <img src="../../assets/part3/img336.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="text-white">
                        The Vidhan Bhavan was inaugurated on 21st February 1928 with great pomp and flare.
                        The correspondence from the time shows the extensive planning that went into organising the
                        inauguration
                        – from security to invitations to the minutest of details like who would be seated where. 
                        Council meetings and eventually the Assembly meetings have convened here ever since.
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab11'" class="container  bghead fix-height">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../assets/part3/img337.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="text-white">
                        In the year 1937, the construction for a separate building for the Legislative Council was
                        concluded
                        by the 'Ford & McDonald' company, under the directions of the architect A.L Mortimer. The
                        building
                        is
                        connected to the original Chamber House through a network of elegant balconies.
                        The Legislative Council meetings of the State have convened in this building ever since. 
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab12'" class="container  bghead fix-height">

        <div class="d-flex align-items-center text-white">
            <div class="w-60">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <img src="../../assets/part3/img338.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 ps-0 pe-4">
                        <img src="../../assets/part3/img339.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="w-40 ps-4">The newly formed Assembly consisted of 228 members and the Legislative Council was
                constituted of 60
                members.
                The tenure of the Assembly was fixed at 5 years and the Council’s at 9 years with one-third of the
                members
                retiring
                every three years. The Houses had the right to elect their own presiding officers
                - the Speaker of the House for the Assembly and the Chairman for the Council.</div>
        </div>
    </div>
    <div *ngSwitchCase="'tab13'" class="container  bghead fix-height">

        <div class="text-white">
            <div style="float:left;width:100%">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <img src="../../assets/part3/img341.png" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            With the Government of India Act in 1935, the next huge step was ushered toward
                            the growth of our legislative institutions. The United Province Legislature now became
                            Bicameral,
                            with a legislative Council as before, but also a Legislative Assembly.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-2">
                            <img src="../../assets/part3/img342.png" class="img-fluid">
                        </div>
                        <div class="col-md-9 ps-0 pe-4">
                            The newly formed Assembly consisted of 228 members and the Legislative Council was
                            constituted of
                            60 members.
                            The tenure of the Assembly was fixed at 5 years and the Council’s at 9 years with one-third
                            of the
                            members
                            retiring every three years. The Houses had the right to elect their own presiding officers -
                            the
                            Speaker of the
                            House for the Assembly and the Chairman for the Council. The first meeting of the
                            Legislative
                            Assembly
                            was concluded on 29th July 1937. Shri Purushottam Das Tandon and Shri Abdul Hakim were
                            elected
                            Speaker and
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab14'" class="container  bghead fix-height">

        <div class="text-white">
            In October 1939, India was declared a belligerent nation by Britain owing to the Second World War.
            This situation ultimately led Pandit G. B. Pant, to move a resolution on the subject in the Assembly on
            October 27, 1939,
            which with a minor amendment was passed on October 30, 1939. The text of the resolution was as follows: 
            <div style="float:left;width:100%">
                <div class="row justify-content-center mt-4">
                    <div class="col-md-6 mb-2">
                        <img src="../../assets/part3/img343.png" class="img-fluid">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'tab15'" class="container  bghead fix-height">

        <div class="text-white">
            <div class="d-flex align-items-center text-white">
                <div class="w-60">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <img src="../../assets/part3/img338.png" class="img-fluid">
                        </div>
                        <div class="col-md-6 ps-0 pe-4">
                            <img src="../../assets/part3/img339.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="w-40 ps-4">On December 9, 1946, as the clock struck 11, the Constituent Assembly began its
                    first session, with 211 members attending, out of which 55 hailed from Uttar Pradesh. The drafting
                    was
                    concluded on 26th November 1949 and approved by the Assembly. On 26 January 1950, the constitution
                    took effect, making it India’s first Republic Day. The First Assembly of UP to be elected by
                    Universal
                    Adult Franchise under the new constitution of India was formed in 1952, four years after the Indian
                    Independence Act. This Assembly was the First Vidhan Sabha of the newly christened State of Uttar
                    Pradesh.</div>
            </div>
        </div>
    </div>
</ng-container>

<div class="row">
    <div class="col-md-12">
        <div class="text-center bgceneter three-rays {{visible1 || visible2 ? 'left-rays' : visible3 ? 'right-rays' : ''}}"
            (click)="showaob()">
            <img src="../../assets/part3/1920-1947.png" class="ovalbtn" alt="img" />
            <div class="rays" *ngIf="isshow">
                <img src="../../assets/rays.png">
                <img src="../../assets/rays.png">
                <img src="../../assets/rays.png">
            </div>
        </div>
    </div>
</div>
<div class="fix-height footimg">
    <div class="container" *ngIf="!isshow">
        <div class="d-flex">
            <div class="w-30 pe-3">
                <div class="row">
                    <img src="../../assets/part3/img31.png" class="img-fluid mb-3" alt="img" />
                </div>
                <div class="row">
                    <img src="../../assets/part3/img32.png" class="img-fluid" alt="img" />
                </div>
            </div>
            <div class="w-60">
                <img src="../../assets/part3/img33.png" class="img-fluid" alt="img" />
            </div>
        </div>
    </div>


    <div class="row h-100 align-items-center" *ngIf="isshow">
        <div *ngIf="!visible2 && !visible3" class="{{visible1 ? 'col-md-6' : 'col-md-4'}} mb-4">
            <div class="text-center {{!visible1 ? 'mb-5 pb-5' : ''}}">
                <button type="button" class="{{!visible1 ? 'mb-5 ms-5' : ''}} customBtn ms-5" (click)="showContent()">
                    First Election & after
                </button>
            </div>
        </div>

        <div *ngIf="visible1" class="col-md-6">
            <div class="d-flex flex-column right-panel-open">
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" type="button" (click)="showTab('tab3')">
                            First Election & the first session that followed
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab4')">
                            Momentous Highlights in the period
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="{{visible2 ? 'col-md-6' : 'col-md-4'}} mb-4" *ngIf="!visible1 && !visible3">
            <div class="text-center ">
                <button type="button" class="customBtn {{!visible2 ? 'mb-5' : ''}}" (click)="showContent1()">
                    Vidhan Bhawan
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4" *ngIf="visible2">
            <div class="d-flex flex-column right-panel-open">
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" type="button" (click)="showTab('tab6')">
                            Pre Vidhan Bhawan
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab8')">
                            Foundation Stone
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab9')">
                            Extension of the building
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab10')">
                            Inauguration
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4" *ngIf="visible3">
            <div class="d-flex flex-column left-panel-open">
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" type="button" (click)="showTab('tab13')">
                            Govt. of India Act 1935
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab14')">
                            In the face of World War 2
                        </button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="text-center">
                        <button type="button" (click)="showTab('tab15')">
                            A New Era in a free India
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{visible3 ? 'col-md-6' : 'col-md-4'}} mb-4" *ngIf="!visible2 && !visible1">
            <div class="text-center {{!visible3 ? 'mb-5 pb-5' : ''}}">
                <button type="button" class="customBtn {{!visible3 ? 'mb-5 me-5' : ''}}" (click)="showContent2()">
                    Bicameral Beginnings
                </button>
            </div>
        </div>




    </div>
</div>